<div class="c-product-tech">
    <div class="c-product-tech__sx">
        <div class="c-product-tech__specs">
            <div class="c-spec"><span class="c-spec__type">shape</span><span class="c-spec__value">true twin</span>
            </div>
            <div class="c-spec"><span class="c-spec__type">sidecut</span><span class="c-spec__value">blended
                    radial</span></div>
            <div class="c-spec"><span class="c-spec__type">flex</span><span class="c-spec__value">{{ product.metafields.snowboard_info.flex_description }}</span>
                <div class="c-spec__level is-blue" style="--dot-position: {{ product.metafields.snowboard_info.rating__flex }}; --steps: 10">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">rider type</span><span
                    class="c-spec__value">{{ product.metafields.snowboard_info.rider_type_title }}</span></div>
            <div class="c-spec"><span class="c-spec__type">skill level</span>
                <div class="c-spec__level" style="--dot-position: 4; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">TERRAIN VERSATILITY</span>
                <div class="c-spec__level" style="--dot-position: {{ product.metafields.snowboard_info.rating__all_mtn }}; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">GROOMERS</span>
                <div class="c-spec__level" style="--dot-position: {{ product.metafields.snowboard_info.rating__performance }}; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">POWDER</span>
                <div class="c-spec__level" style="--dot-position: {{ product.metafields.snowboard_info.rating__powder }}; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">JUMPS</span>
                <div class="c-spec__level" style="--dot-position: {{ product.metafields.snowboard_info.rating__urban }}; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
            <div class="c-spec"><span class="c-spec__type">FLAT TRICK / JIBBING</span>
                <div class="c-spec__level" style="--dot-position: {{ product.metafields.snowboard_info.rating__park }}; --steps: 5">
                    <div class="c-spec__dot"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                    <div class="c-spec__line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-product-tech__dx">
        <div class="c-product-tech__story"><span class="c-product-tech__subtitle">tech story</span><span class="c-product-tech__title">{{ product.title }}</span>
            <div class="c-product-tech__text">
                {{ product.metafields.snowboard_info.snowboard_description }}
            </div>
        </div>
        <div class="c-product-tech__story"><span class="c-product-tech__subtitle">camber</span><span class="c-product-tech__title">{{ product.metafields.snowboard_info.camber_type }}</span>
            <div class="c-product-tech__text">
                {{ product.metafields.snowboard_info.camber_description }}
            </div>
        </div>
        {% if product.metafields.snowboard_info.camber_image %}
          <div class="c-product-tech__image">
            <img src="{{ product.metafields.snowboard_info.camber_image | image_url : "master" }}" alt="{{ product.title | strip_html }}">
          </div>
        {% endif %}
    </div>
    <div class="c-product-tech__video">

      <iframe 
        id="youtube-{{ product.metafields.snowboard_intro.product_video }}" 
        frameborder="0" 
        allowfullscreen="1" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        title="Player for CAPiTA Snowboards | {{ product.title | strip_html }}" 
        width="100%" 
        height="100%" 
        src="https://www.youtube.com/embed/{{ product.metafields.snowboard_intro.product_video }}?autoplay=0;controls=0;disablekb=1;playsinline=1;cc_load_policy=0;cc_lang_pref=auto;">
      </iframe>
    
    </div>
</div>
<div class="c-detail-modal js-detail-modal">
  <div class="c-detail-modal__bg js-detail-modal-bg"></div>
  <div class="c-detail-modal__content js-detail-modal-content">
    <button class="c-detail-modal__close js-detail-modal-close">
      Read less<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.605 14.105a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15Z" fill="#000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.08 5.132a.5.5 0 0 1 0 .707l-4.243 4.243a.5.5 0 1 1-.707-.707l4.243-4.243a.5.5 0 0 1 .707 0Z" fill="#000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.842 4.84a.5.5 0 0 1 .707 0l4.821 4.822a.5.5 0 1 1-.707.707L4.842 5.548a.5.5 0 0 1 0-.707Z" fill="#000"/></svg></button><img class="c-detail-modal__section" src="https://via.placeholder.com/101x77" alt="alt"/><span class="c-detail-modal__position">flex</span><span class="c-detail-modal__name">TWIN -6</span><span class="c-detail-modal__description">Extremely lightweight super-combo core of premium Poplar, Paulownia, Beech with recycled thermopolymer inlaid channels, for maximum durability, energy and pop.</span><img class="c-detail-modal__full-board" src="https://via.placeholder.com/577x137" alt="alt"/>
  </div>
</div>
<div class="c-product-details js-product-details">
  <div class="u-container">
    <div class="c-product-details__content">
      <div class="c-product-details__tabs js-details-tabs">
        <button class="c-product-details__tab-btn is-active js-details-tabs-btn" type="button" data-tab="constructions">constructions</button>
        <button class="c-product-details__tab-btn js-details-tabs-btn" type="button" data-tab="accolades">accolades</button>
        <button class="c-product-details__tab-btn js-details-tabs-btn" type="button" data-tab="size-chart">specs</button>
      </div>
      <div class="c-product-details__container">
        <!-- COMPONENTE SIZE CHART-->
        <div class="c-product-details__size-chart js-details-tabs-section" data-section="size-chart">
          <div class="c-size-chart swiper js-size-chart">
            <div class="swiper-wrapper">
              <div class="swiper-slide c-size-chart__column">


                  {{ product.metafields.snowboard_info.dimensions }}

                {% comment %} <div class="c-size-chart__title-line"><span>length</span><span>EFFECTIVE EDGE (MM)</span><span>WAIST</span><span>NOSE/TAIL</span><span>SIDECUT</span><span>MAX STANCE (CM/INCHES)</span><span>SUGGESTED WEIGHT (LBS/KG)</span></div>
                <div class="c-size-chart__values-line"><span>152</span><span>154</span><span>156</span><span>158</span><span>160</span><span>155W</span><span>158W</span></div>
                <div class="c-size-chart__values-line"><span>152</span><span>154</span><span>156</span><span>158</span><span>160</span><span>155W</span><span>170-230+/77-104+</span></div> {% endcomment %}
              </div>
            </div>
            <div class="c-size-chart__scrollbar swiper-scrollbar"></div>
          </div>
        </div>
        <!-- FINE COMPONENTE SIZE CHAT-->
        <!-- COMPONENTE ACCOLADES-->
        <div class="c-product-details__accolades js-details-tabs-section" data-section="accolades">
          <div class="c-accolades"><span class="c-accolades__subtitle">AWARD:</span><span class="c-accolades__title">{{ product.metafields.accentuate.award_title }}</span>
            <div class="c-accolades__text">
              {{ product.metafields.accentuate.award_description.html }}
            </div>
            <div class="c-accolades__video">
              <iframe src="https://www.youtube.com/embed/{{ product.metafields.snowboard_info.award_video }}" title="Capita Award | {{ product.metafields.accentuate.award_title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
            </div>
          </div>
        </div>
        <!-- FINE COMPONENTE ACCOLADES-->
        <!-- COMPONENTE CONSTRUCTIONS-->
        <div class="c-product-details__constructions js-details-tabs-section is-active" data-section="constructions">
          <div class="c-constructions js-constructions">
            <div class="c-constructions__dragger js-constructions-dragger swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">

                  <div class="c-hotspot js-constructions-hotspot" 
                    style="
                    --x-mob: {{ product.metafields.construction_hotspot.coordinates_x_mob }}; 
                    --x-desk: {{ product.metafields.construction_hotspot.coordinates_x_desk }}; 
                    --y-mob: {{ product.metafields.construction_hotspot.coordinates_y_mob }}; 
                    --y-desk: {{ product.metafields.construction_hotspot.coordinates_y_desk }};
                    " 
                    data-title="{{ product.metafields.construction_hotspot.board_construction_hotspot_title }}" 
                    data-descr="{{ product.metafields.construction_hotspot.board_construction_hotspot_description.html }}" 
                    data-image="{{ product.metafields.construction_hotspot.board_construction_hotspot_image | image_url: "master" }}"
                  >
                    <div class="c-hotspot__btn js-constructions-hotspot-btn">
                      <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26 16c0 5.523-4.477 10-10 10S6 21.523 6 16 10.477 6 16 6s10 4.477 10 10Zm-5.169 0a.882.882 0 0 1-.882.882H16.98v3.492a.882.882 0 0 1-1.765 0v-3.492H12.25a.882.882 0 0 1 0-1.764h2.965v-3.493a.882.882 0 1 1 1.765 0v3.493h2.97c.486 0 .881.395.881.882Z"></path>
                        <circle cx="16" cy="16" r="15" stroke="#C8102E" stroke-width="2"></circle>
                      </svg>
                    </div>
                    <div class="c-hotspot__tooltip js-constructions-hotspot-tooltip" data-mob-x="right" data-mob-y="top"
                      data-desk-x="right" data-desk-y="bottom">
                      <button class="c-hotspot__read-more js-constructions-hotspot-read-more" type="button">
                        Read more<svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="19.5" cy="19.5" r="7" />
                          <path d="M22.498 19.5H16.498" stroke-linecap="round" />
                          <path d="M19.5 16.0898V22.908" stroke-linecap="round" />
                        </svg>

                      </button><span class="c-hotspot__position">core</span><span class="c-hotspot__name">3d
                        thermopolymer supercore</span>
                    </div>
                  </div>

                  <picture><img class="c-constructions__image" src="{{ product.metafields.snowboard_info["3d_board_construction_image"] | image_url: "master" }}"/></picture>

                </div>
              </div>
              <div class="c-constructions__scrollbar swiper-scrollbar"></div>
            </div>
          </div>
        </div>
        <!-- FINE COMPONENTE CONSTRUCTIONS-->
      </div>
    </div>
  </div>
</div>
<div class="u-container">
  <div class="c-info">
    <div class="c-info-card">
      <picture>
        <source media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/madeclean.png?v=1687078547"/><img src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/madeclean.png?v=1687078547" alt="Capita clean energy"/>
      </picture>
      <a href="/pages/clean-energy"><span class="c-info-card__learn-more">learn more</span></a>
    </div>
    <div class="c-info-card">
      <picture>
        <source media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/mothership.png?v=1687078547"/><img src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/mothership.png?v=1687078547" alt="Capita Mothership"/>
      </picture>
      <a href="/pages/mothership"><span class="c-info-card__learn-more">learn more</span></a>
    </div>
  </div>
</div>

{% include 'product-review' %}