<div class="u-container">
  <div class="u-content wider">
    <div class="c-product-tech">
      <div class="c-product-tech__sx">
        <div class="c-product-tech__specs">
          <div class="c-spec"><span class="c-spec__type o-text is-4">shape</span><span class="c-spec__value o-text is-3">{{
              product.metafields.snowboard_info.shapes }}</span>
          </div>
          <div class="c-spec"><span class="c-spec__type o-text is-4">sidecut</span><span class="c-spec__value o-text is-3">{{
              product.metafields.snowboard_info.sidecut }}</span></div>
          <div class="c-spec"><span class="c-spec__type o-text is-4">flex</span>
            <span class="c-spec__value o-text is-3">{{ product.metafields.snowboard_info.flex_title }}</span>
            <div class="c-spec__level is-blue js-spec-level"
              style="--dot-position: {{ product.metafields.snowboard_info.rating__flex }}; --steps: 10">
              <div class="c-spec__dot"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
              <div class="c-spec__line"></div>
            </div>
          </div>
          <div class="c-spec"><span class="c-spec__type o-text is-4">rider type</span><span class="c-spec__value o-text is-3">{{
              product.metafields.snowboard_info.rider_type_title }}</span></div>

              {% comment %} <div class="switch-spec">
                <span class="switch-spec__exagon js-show-exagon">Show Exagon</span>
                <span class="switch-spec__lines js-show-lines">Show Lines</span>
              </div> {% endcomment %}
   
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">skill level</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__skill_level }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">TERRAIN VERSATILITY</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__terrain_versatility }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">GROOMERS</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__groomers }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">POWDER</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__powder }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">JUMPS</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__jumps }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
            <div class="c-spec js-c-spec-line hide"><span class="c-spec__type o-text is-4">FLAT TRICK / JIBBING</span>
              <div class="c-spec__level js-spec-level"
                style="--dot-position: {{ product.metafields.snowboard_info.rating__flat_trick__jibbing }}; --steps: 5">
                <div class="c-spec__dot"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
                <div class="c-spec__line"></div>
              </div>
            </div>
          </div>

          <div class="c-hexagon js-hexagon" data-skills="{{ product.metafields.snowboard_info.rating__flat_trick__jibbing }},{{ product.metafields.snowboard_info.rating__skill_level }},{{ product.metafields.snowboard_info.rating__powder }},{{ product.metafields.snowboard_info.rating__groomers }},{{ product.metafields.snowboard_info.rating__terrain_versatility }},{{ product.metafields.snowboard_info.rating__jumps }}">
            <span class="c-hexagon__label o-text is-4">jibbing</span>
            <span class="c-hexagon__label o-text is-4">skill level</span>
            <span class="c-hexagon__label o-text is-4">powder</span>
            <span class="c-hexagon__label o-text is-4">groomers</span>
            <span class="c-hexagon__label o-text is-4">versatility</span>
            <span class="c-hexagon__label o-text is-4">jumps</span>
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 373 430">
                <path
                    d="M2.5 108.943 186.195 2.887l183.696 106.056v212.114L186.195 427.113 2.5 321.057V108.943Z"
                    stroke="#000" stroke-width="3"></path>
                <path d="m33 126.577 153-88.422 153 88.422v176.846l-153 88.422-153-88.422V126.577Z"
                    stroke="#000" stroke-width="1"></path>
                <path d="m65 145.077 121-69.922 121 69.922v139.846l-121 69.922-121-69.922V145.077Z"
                    stroke="#000" stroke-width="1"></path>
                <path d="m97 163.577 89-51.422 89 51.422v102.846l-89 51.422-89-51.422V163.577Z"
                    stroke="#000" stroke-width="1"></path>
                <path d="m129 182.077 57-32.922 57 32.922v65.846l-57 32.922-57-32.922v-65.846Z"
                    stroke="#000" stroke-width="1"></path>
                <circle cx="186" cy="215" r="8" fill="#000"></circle>
            </svg>
            <div
                class="c-hexagon__gradient js-hexagon-gradient"></div>
          </div>
          


      </div>
      
      <div class="c-product-tech__dx">
        <div class="c-product-tech__story"><span class="c-product-tech__subtitle o-text is-4">tech story</span>
          <span class="c-product-tech__title o-text is-3">{{ product.title }}</span>
          <div class="c-product-tech__text o-text is-4 is-regular">
            {{ product.metafields.snowboard_info.tech_description.html }}
          </div>
        </div>
        <div class="c-product-tech__story"><span class="c-product-tech__subtitle o-text is-4">camber</span>
          <span class="c-product-tech__title o-text is-3">{{ product.metafields.snowboard_info.camber_type }}</span>
          <div class="c-product-tech__text o-text is-4 is-regular">
            {{ product.metafields.snowboard_info.camber_description }}
          </div>
        </div>
        {% if product.metafields.snowboard_info.camber_image_new %}
        <div class="c-product-tech__image">
          <img src="{{ product.metafields.snowboard_info.camber_image_new }}" alt="{{ product.title | strip_html }}">
        </div>
        {% endif %}
      </div>
      <div class="c-product-tech__video">

        <iframe id="youtube-{{ product.metafields.snowboard_intro.product_video }}" frameborder="0" allowfullscreen="1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          title="Player for CAPiTA Snowboards | {{ product.title | strip_html }}" width="100%" height="100%"
          src="https://www.youtube.com/embed/{{ product.metafields.snowboard_intro.product_video }}?autoplay=0;controls=0;disablekb=1;playsinline=1;cc_load_policy=0;cc_lang_pref=auto;">
          <span id="find-a-shop"></span>
        </div>
  
        {% if product.metafields.accentuate.find_a_shop %}
  
          <span class="find-a-shop-title o-text is-3">FIND A SHOP</span>
          <br>
  
          <div class="c-product-tech__shops">
  
            {{ product.metafields.accentuate.find_a_shop_text }}
  
          </div>
        {% endif %}
    </div>
  </div>
</div>
<div class="c-detail-modal js-detail-modal">
  <div class="c-detail-modal__bg js-detail-modal-bg"></div>
  <div class="c-detail-modal__content js-detail-modal-content">
    <button class="c-detail-modal__close js-detail-modal-close">
      Read less<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M7.605 14.105a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15Z"
          fill="#000" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.08 5.132a.5.5 0 0 1 0 .707l-4.243 4.243a.5.5 0 1 1-.707-.707l4.243-4.243a.5.5 0 0 1 .707 0Z"
          fill="#000" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M4.842 4.84a.5.5 0 0 1 .707 0l4.821 4.822a.5.5 0 1 1-.707.707L4.842 5.548a.5.5 0 0 1 0-.707Z"
          fill="#000" />
      </svg></button>
    <img class="c-detail-modal__section js-detail-modal-icon" src="capita hotspot board icon" alt="alt" />
    <span class="c-detail-modal__position">flex</span>
    <span class="c-detail-modal__name js-detail-modal-name"></span>
    <span class="c-detail-modal__description js-detail-modal-description"></span>
    <img class="c-detail-modal__full-board js-detail-modal-image" src="" alt="capita hotspot board" />
  </div>
</div>
<div class="c-product-details js-product-details">
  <div class="u-container">
    <div class="c-product-details__content">
      <div class="c-product-details__tabs js-details-tabs">
        <button class="c-product-details__tab-btn is-active js-details-tabs-btn" type="button"
          data-tab="constructions">construction</button>
        {% if product.metafields.accentuate.award_title != blank or product.metafields.accentuate.award_description.html != blank or product.metafields.snowboard_info.award_vide != blank %}
        <button class="c-product-details__tab-btn js-details-tabs-btn" type="button"
          data-tab="accolades">intel</button>
        {% endif %}
        <button class="c-product-details__tab-btn js-details-tabs-btn" type="button"
          data-tab="size-chart">specs</button>
      </div>
      <div class="c-product-details__container">
        <!-- COMPONENTE SIZE CHART-->
        <div class="c-product-details__size-chart js-details-tabs-section" data-section="size-chart">
          <div class="c-size-chart swiper js-size-chart">
            <div class="swiper-wrapper">
              <div class="swiper-slide c-size-chart__column">


                {{ product.metafields.snowboard_info.dimensions }}

                {% comment %} <div class="c-size-chart__title-line"><span>length</span><span>EFFECTIVE EDGE
                    (MM)</span><span>WAIST</span><span>NOSE/TAIL</span><span>SIDECUT</span><span>MAX STANCE
                    (CM/INCHES)</span><span>SUGGESTED WEIGHT (LBS/KG)</span></div>
                <div class="c-size-chart__values-line">
                  <span>152</span><span>154</span><span>156</span><span>158</span><span>160</span><span>155W</span><span>158W</span>
                </div>
                <div class="c-size-chart__values-line">
                  <span>152</span><span>154</span><span>156</span><span>158</span><span>160</span><span>155W</span><span>170-230+/77-104+</span>
                </div> {% endcomment %}
              </div>
            </div>
            <div class="c-size-chart__scrollbar swiper-scrollbar"></div>
          </div>
        </div>
        <!-- FINE COMPONENTE SIZE CHAT-->
        <!-- COMPONENTE ACCOLADES-->
        <div class="c-product-details__accolades js-details-tabs-section" data-section="accolades">
          <div class="c-accolades">
            {% if product.metafields.accentuate.award_title != blank %}
            {% comment %} <span class="c-accolades__subtitle">AWARD:</span> {% endcomment %}
            <span class="c-accolades__title">{{
              product.metafields.accentuate.award_title }}
            </span>
            {% endif %}
            {% if product.metafields.accentuate.award_description.html != blank %}
            <div class="c-accolades__text">
              {{ product.metafields.accentuate.award_description.html }}
            </div>
          {% endif %}
          {% if product.metafields.snowboard_info.award_video != blank %}
            <div class="c-accolades__video">
              <iframe src="https://www.youtube.com/embed/{{ product.metafields.snowboard_info.award_video }}"
                title="Capita Award | {{ product.metafields.accentuate.award_title }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen="allowfullscreen"></iframe>
            </div>
          {% endif %}
          </div>
        </div>
        <!-- FINE COMPONENTE ACCOLADES-->
        <!-- COMPONENTE CONSTRUCTIONS-->
        <div class="c-product-details__constructions js-details-tabs-section is-active" data-section="constructions">
          <div class="c-constructions js-constructions">
            <div class="c-constructions__dragger js-constructions-dragger swiper">
              <div class="swiper-wrapper">


                <div class="swiper-slide">

                  {% for hotspot in product.metafields.construction_hotspot.board_construction_hotspot_title %}
                  <div class="c-hotspot js-constructions-hotspot" style="
                      --x-mob: {{ product.metafields.construction_hotspot.coordinates_x_mob[forloop.index0] }}; 
                      --x-desk: {{ product.metafields.construction_hotspot.coordinates_x_desk[forloop.index0] }}; 
                      --y-mob: {{ product.metafields.construction_hotspot.coordinates_y_mob[forloop.index0] }}; 
                      --y-desk: {{ product.metafields.construction_hotspot.coordinates_y_desk[forloop.index0] }};
                      " data-title="{{ hotspot }}"
                    data-descr="{{ product.metafields.construction_hotspot.board_construction_hotspot_description[forloop.index0].html }}"
                    data-image="{{ product.metafields.construction_hotspot.board_construction_hotspot_image[forloop.index0] }}"
                    data-image-icon="{{ product.metafields.construction_hotspot['3d_board_construction_hotspot_image_icon'][forloop.index0] }}">
                    <div class="c-hotspot__btn js-constructions-hotspot-btn">
                      <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M26 16c0 5.523-4.477 10-10 10S6 21.523 6 16 10.477 6 16 6s10 4.477 10 10Zm-5.169 0a.882.882 0 0 1-.882.882H16.98v3.492a.882.882 0 0 1-1.765 0v-3.492H12.25a.882.882 0 0 1 0-1.764h2.965v-3.493a.882.882 0 1 1 1.765 0v3.493h2.97c.486 0 .881.395.881.882Z">
                        </path>
                        <circle cx="16" cy="16" r="15" stroke="#C8102E" stroke-width="2"></circle>
                      </svg>
                    </div>
                    <div class="c-hotspot__tooltip js-constructions-hotspot-tooltip" data-mob-x="right" data-mob-y="top"
                      data-desk-x="right" data-desk-y="bottom">
                      <button class="c-hotspot__read-more js-constructions-hotspot-read-more" type="button">
                        Read more<svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="19.5" cy="19.5" r="7" />
                          <path d="M22.498 19.5H16.498" stroke-linecap="round" />
                          <path d="M19.5 16.0898V22.908" stroke-linecap="round" />
                        </svg>

                      </button><span class="c-hotspot__name">{{ hotspot }}</span>
                        {% comment %} <span class="c-hotspot__position">core</span><span class="c-hotspot__name">{{ hotspot }}</span> {% endcomment %}
                    </div>
                  </div>
                  {% endfor %}

                  <picture><img class="c-constructions__image" src="{{ product.metafields.construction_hotspot['3d_board_image'] }}" /></picture>

                </div>


              </div>
              <div class="c-constructions__scrollbar swiper-scrollbar"></div>
            </div>
          </div>
        </div>
        <!-- FINE COMPONENTE CONSTRUCTIONS-->
      </div>
    </div>
  </div>
</div>
<div class="u-container">
  <div class="c-info"> 

    <div class="c-info-card js-info-card-trigger" data-card="1">
      <picture>
        <source media="(min-width: 1024px)"
          srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_cleanenergy.png?v=1693649707" /><img
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_cleanenergy.png?v=1693649707"
          alt="Capita clean energy" />
      </picture>
      <span class="c-info-card__learn-more">learn more</span>
    </div>
    <div class="c-info-card-modal js-info-card" data-card="1" style="pointer-events: none; opacity: 0; visibility: hidden;">
        <div class="c-info-card-modal__bg js-info-card-bg"></div>
        <div class="c-info-card-modal__wrapper">
            <button class="c-info-card-modal__close js-info-card-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 95 95">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="m47.408 49.006 16.178 16.178L65 63.77 48.822 47.592 65 31.414 63.586 30 47.408 46.178 31.23 30l-1.414 1.414 16.178 16.178L29.816 63.77l1.414 1.414 16.178-16.178Z" fill="#231F20"></path>
                </svg>
            </button>
            <div class="c-info-card-modal__content js-info-card-content"><span class="o-text is-2 nocase">100% Clean Energy Manufacturing.</span>
                <video class="c-info-card-modal__media" src="https://cdn.shopify.com/videos/c/vp/3dcc511c95fa400e831eae0b97ed6b18/3dcc511c95fa400e831eae0b97ed6b18.SD-480p-1.5Mbps-16693557.mp4" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline"></video>
                <span class="o-text is-4 is-regular"><strong>The CAPiTA MotherShip™</strong> is the world’s newest, most technologically advanced snowboard manufacturing facility - a clean energy production wonder. We generate the power for CAPiTA production processes via an <hl>on-site hydro-activated NH3 Thermal Energy System in concert with our newly expanded solar panel array.</hl><br/><br/>
                As industry leaders, we hold ourselves accountable to continue to invest in the evolution of responsible production processes to preserve the winters we love so much.</span>
                <div class="text-video-cards__cards">
                  <div class="single-text-video-cards">
                    <div class="single-text-video-cards__content">
                      <img src="//capitasnowboarding.com/cdn/shop/files/1_ZERO_CO2.png?v=1693570033" alt="ZEROCO2 Emissions">
                      <h4 class="single-text-video-cards__content__title strong o-text is-4 nocase">
                        ZERO<br>CO2 Emissions
                      </h4>
                    </div>
                  </div>
                  <div class="single-text-video-cards">
                    <div class="single-text-video-cards__content">
                      <img src="//capitasnowboarding.com/cdn/shop/files/2_ZERO_OZONE_DP.png?v=1693570034" alt="ZEROOzone Depletion Potential">
                      <h4 class="single-text-video-cards__content__title strong o-text is-4 nocase">
                        ZERO<br>Ozone Depletion Potential
                      </h4>
                    </div>
                  </div>
                  <div class="single-text-video-cards">
                    <div class="single-text-video-cards__content">
                      <img src="//capitasnowboarding.com/cdn/shop/files/3_ZERO_GLOBAL_WARMING_P.png?v=1693570033" alt="ZEROGlobal Warming Potential">
                      <h4 class="single-text-video-cards__content__title strong o-text is-4 nocase">
                        ZERO<br>Global Warming Potential
                      </h4>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="c-info-card js-info-card-trigger" data-card="2">
      <picture>
        <source media="(min-width: 1024px)"
          srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_nfc.png?v=1693912750" /><img
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_nfc.png?v=1693912750"
          alt="Capita NFC" />
      </picture>
      <span class="c-info-card__learn-more">learn more</span>
    </div>
    <div class="c-info-card-modal js-info-card" data-card="2" style="pointer-events: none; opacity: 0; visibility: hidden;">
        <div class="c-info-card-modal__bg js-info-card-bg"></div>
        <div class="c-info-card-modal__wrapper">
            <button class="c-info-card-modal__close js-info-card-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 95 95">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="m47.408 49.006 16.178 16.178L65 63.77 48.822 47.592 65 31.414 63.586 30 47.408 46.178 31.23 30l-1.414 1.414 16.178 16.178L29.816 63.77l1.414 1.414 16.178-16.178Z" fill="#231F20"></path>
                </svg>
            </button>
            <div class="c-info-card-modal__content js-info-card-content"><span class="o-text is-2 nocase">The MotherShipTM Connection <br/>—NFC</span>
                <video class="c-info-card-modal__media" src="https://cdn.shopify.com/videos/c/vp/244f7de8dee9416191b5326302609708/244f7de8dee9416191b5326302609708.SD-480p-1.2Mbps-18580469.mp4" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline"></video>
                <span class="o-text is-3 nocase">Enhanced Precision Through Technology</span>
                <span class="o-text is-4 is-regular">In 2020, The Mothership became the first in the snowboard industry to introduce an NFC system in our snowboards. This chip enables precise tracking of <hl>each board's production journey</hl>, resulting in higher quality and reduced waste.</span>
                <video class="c-info-card-modal__media" src="https://cdn.shopify.com/videos/c/vp/e0e119259e6e47fb9b4dcbf7d174d9bc/e0e119259e6e47fb9b4dcbf7d174d9bc.SD-480p-1.2Mbps-18580518.mp4" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline"></video>
                <span class="o-text is-3 nocase">Enhanced Experience Through Technology</span>
                <span class="o-text is-4 is-regular">Beyond the production floor, we have taken NFC capabilities to the next level. Now, you can <hl>connect with your board by simply scanning it with your phone</hl>. This NFC interface enables you to register your snowboard, streamlining the customer service process and granting exclusive early access to new product information, drops, and CAPiTA team videos exclusively for NFC-registered users.</span>
            </div>
        </div>
    </div>

    {% comment %} 
    <a href="/pages/clean-energy" class="c-info-card">
      <picture>
        <source media="(min-width: 1024px)"
          srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_cleanenergy.png?v=1693649707" /><img
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_cleanenergy.png?v=1693649707"
          alt="Capita clean energy" />
      </picture>
      <span class="c-info-card__learn-more">learn more</span>
    </a>
    <a href="/pages/the-factory" class="c-info-card">
      <picture>
        <source media="(min-width: 1024px)"
          srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_nfc.png?v=1693912750" /><img
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_product_icon_nfc.png?v=1693912750"
          alt="Capita NFC" />
      </picture>
      <span class="c-info-card__learn-more">learn more</span>
    </a>
    {% endcomment %}

  </div>
</div>

{% include 'product-review' %}
