<div class="section-banner-product">
    <div class="banner-product__left">
        <div class="banner-product__left__text">
            <h5>{{ section.settings.left_title }}</h5>
            <h3>{{ section.settings.left_title }}</h3>
        </div>
        <div class="banner-product__left__card">
            <a href="{{ section.settings.product.url }}">
                <img class="banner-product__left__card__image" src="{{ section.settings.image | img_url: 'master' }}" alt="capita card" width="100%">
                <div class="banner-product__left__card__cta"><span>SHOP NOW</span></div>
            </a>
        </div>
    </div>
    <div class="banner-product__right">
        <img class="banner-product__right__image" src="{{ section.settings.right_image | img_url: 'master' }}" alt="capita snowboard" width="100%">
        <h6>{{ section.settings.right_text }}</h6>
    </div>
</div>

{% schema %}
  {
    "name": "Banner Product",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
        },
        {
            "type": "text",
            "id": "left_title",
            "label": "Left Title"
        },
        {
            "type": "text",
            "id": "left_sup_title",
            "label": "Left Sup Title"
        },
        {
            "type": "text",
            "id": "right_text",
            "label": "Right Text"
        }
    ],
    "presets": [
        {
            "name": "Banner Product"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

.banner-product__left {
    width: calc(100% * 1/3);
}
.banner-product__right {
    width: calc(100% * 2/3);
}
{% endstylesheet %}


{% javascript %}

{% endjavascript %}