{%- liquid
    assign gender = page.metafields.accentuate.gender
    assign boards = page.metafields.team_profile.snowboard_product
-%}
{% if boards.size > 0 %}
    <div class="section-team-boards">
        <div class="u-container">
            <div class="u-content">
                <div class="team-boards">
                    {%- if gender -%}
                        <h3 class="strong">Boards <span>{{ gender }}</span> rides</h3>
                    {% else %}
                        <h3 class="strong">Boards:</h3>
                    {%- endif -%}
                    <div class="team-boards-content">
                        {%- for board in boards -%}
                        {% assign index = forloop.index | minus: 1 %}
                        <div class="team-boards-content__single">
                            <span>{{ page.metafields.team_profile.board_category[index] }}</span>
                            <h4 class="strong">{{ page.metafields.team_profile.board_title[index] }}</h4>
                            <img src="{{ page.metafields.team_profile.board_image_url[index] }}">
                            <a href="{{ all_products[board].url }}" class="btn btn-primary medium">DISCOVER MORE</a>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
  {
    "name": "Team Boards",
    "presets": [
        {
            "name": "Team Boards"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
.section-team-boards {
    background-image: url(/cdn/shop/files/000_GRID_PAPER_BG_1.png?v=1686394097);
    background-repeat: repeat;
    background-color: #000;
    color: #fff;
    padding: 20px 0 80px 0;
}
.team-boards {
    max-width: 1440px;
    margin: 0 auto;
}
.team-boards h3 {
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1;
    margin: 30px 0; 
}
.team-boards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-boards-content__single {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px 0;
}
.team-boards-content__single span,
.team-boards-content__single h4 {
    text-transform: uppercase;
}
.team-boards-content__single h4 {
    font-size: 21px;
}

.team-boards-content__single img {
    width: 100%;
    max-width: 275px;
    margin: 20px 0 30px 0;
}
@media screen and (max-width: 1440px) {
    .team-boards-content__single img {
        max-width: 190px;
    }
    .team-boards-content__single .btn.btn-primary {
        min-width: calc(100% - 40px);
    }
}
@media screen and (max-width: 991px) {
    .team-boards h3 {
        font-size: 36px;
        margin: 40px 20px;
    }
    .team-boards-content__single {
        width: 100%;
    }
}

{% endstylesheet %}

