<footer>
  <div class="c-footer">
    <div class="u-container">
        <div class="c-footer__content u-content">
            <div class="c-footer__blocks">
                <div class="c-footer__block">
                    {%- for link in section.settings.menu_col_1.links -%}
                        <a class="c-footer__item" href="{{ link.url }}">{{ link.title }}</a>
                    {%- endfor -%}
                </div>
                <div class="c-footer__block">
                    {%- for link in section.settings.menu_col_2.links -%}
                        <a class="c-footer__item" href="{{ link.url }}">{{ link.title }}</a>
                    {%- endfor -%}
                </div>
                <div class="c-footer__block">
                    {%- for link in section.settings.menu_col_3.links -%}
                        <a class="c-footer__item" href="{{ link.url }}">{{ link.title }}</a>
                    {%- endfor -%}
                </div>
                <div class="c-footer__block">
                    {%- for link in section.settings.menu_col_4.links -%}
                        <a class="c-footer__item" href="{{ link.url }}">{{ link.title }}</a>
                    {%- endfor -%}
                </div>
            </div>
            <div class="c-footer__form">
                {%- assign formId = 'Contact-Newsletter' -%}
                {% form 'customer', id: formId, novalidate: 'novalidate' %}
                {%- if form.posted_successfully? -%}
                    <p class="form-message form-message--success" tabindex="-1" data-form-status>
                    {{ 'general.newsletter_form.confirmation' | t }}
                    </p>
                {%- endif -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <form class="c-slim-form"><span class="c-slim-form__title">SIGN UP TO GET CAPiTA’S LATEST
                        UPDATES!</span>
                        <input type="email"
                            name="contact[email]"
                            id="{{ formId }}-email"
                            class="c-slim-form__email{% if form.errors %} input--error{% endif %}"
                            value="{{ form.email }}"
                            placeholder="EMAIL"
                            aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                            aria-required="true"
                            required
                            autocorrect="off"
                            autocapitalize="off"
                            {% if form.errors %}
                                aria-invalid="true"
                                aria-describedby="{{ formId }}-email-error"
                                data-form-status
                            {% endif %}>
                        <label class="c-slim-form__legal">
                            <input type="checkbox"
                                name="contact[privacy]" />
                            <span>Capita Privacy Policy and I consent to the processing of my personal
                            data for marketing and profiling purposes.</span></label>
                        
                    {% if form.tags == "newsletter" %}
                        <span class="input-error-message site_newsletter-error">Email già registrata oppure invalida!</span>
                    {% endif %}            
                {% endform %}
            </div>
            <div class="c-footer__social"><a class="w-5" href="https://www.facebook.com/CAPiTAsuperCORP/" target="_blank" rel="noopener noreferrer"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="-5 0 20 20">
                        <path fill="#000" fill-rule="evenodd"
                            d="M6.821 20v-9h2.733L10 7H6.821V5.052C6.821 4.022 6.848 3 8.287 3h1.458V.14c0-.043-1.253-.14-2.52-.14C4.58 0 2.924 1.657 2.924 4.7V7H0v4h2.923v9h3.898Z">
                        </path>
                    </svg></a><a class="w-5" href="https://www.instagram.com/capitaboards/" target="_blank" rel="noopener noreferrer"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill="#000" fill-rule="evenodd"
                            d="M5.87.123C4.242.196 2.83.594 1.69 1.729.548 2.869.155 4.286.081 5.897.037 6.902-.231 14.498.545 16.49a5.04 5.04 0 0 0 2.91 2.903c.634.246 1.356.412 2.416.461 8.86.401 12.145.183 13.53-3.364.246-.631.415-1.353.462-2.41.405-8.883-.066-10.809-1.61-12.351C17.027.507 15.586-.325 5.87.123m.081 17.944c-.97-.043-1.496-.205-1.848-.341a3.255 3.255 0 0 1-1.888-1.883c-.591-1.514-.395-8.703-.342-9.866.051-1.14.282-2.18 1.086-2.985C3.954 2 5.24 1.513 13.993 1.908c1.142.052 2.186.282 2.992 1.084.995.993 1.489 2.288 1.087 11.008-.044.968-.206 1.493-.342 1.843-.901 2.308-2.973 2.628-11.779 2.224M14.09 4.69c0 .657.534 1.19 1.194 1.19.66 0 1.195-.533 1.195-1.19a1.194 1.194 0 0 0-2.39 0M4.864 9.988a5.103 5.103 0 0 0 5.11 5.097 5.103 5.103 0 0 0 5.109-5.097 5.102 5.102 0 0 0-5.11-5.096 5.102 5.102 0 0 0-5.11 5.096m1.794 0A3.313 3.313 0 0 1 9.972 6.68a3.313 3.313 0 0 1 3.317 3.308 3.313 3.313 0 0 1-3.317 3.31 3.313 3.313 0 0 1-3.316-3.31">
                        </path>
                    </svg></a><a class="w-5" href="https://www.youtube.com/channel/UCTSPQe9PEs1HALqI5sO2NNg" target="_blank" rel="noopener noreferrer"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 -3 20 20">
                        <path fill="#000" fill-rule="evenodd"
                            d="M7.988 9.586V3.974c1.993.938 3.536 1.843 5.36 2.82-1.505.834-3.367 1.77-5.36 2.792m11.103-8.403c-.344-.453-.93-.805-1.553-.922-1.833-.348-13.267-.349-15.099 0-.5.094-.945.32-1.328.673C-.5 2.429.005 10.452.393 11.75c.164.562.375.968.64 1.235.343.352.812.594 1.351.703 1.51.312 9.284.486 15.122.047a2.62 2.62 0 0 0 1.39-.712c1.49-1.49 1.388-9.962.195-11.841">
                        </path>
                    </svg></a></div>
            <div class="c-footer__currency">
                <select>
                    <option value="value" select="select">NORTH AMERICA</option>
                    <option value="value">EUROPE</option>
                </select>

                {% include 'localization-countries' %}
            </div>
            <span class="c-footer__legal">© 2020-2023 Core S.r.l. – Via Colombano 10, 23014 Delebio
                (SO), Italy - VAT nr. IT00838030146 All rights reserved.Operated by C3 Worldwide LLC - 4917 14th Ave NW,
                Seattle, WA 98107 USA</span>
          </div>
      </div>
  </div>
</footer>

<script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Footer",
  "settings": [
        {
            "type": "link_list",
            "id": "menu_col_1",
            "label": "Menu col 1"
        },
        {
            "type": "link_list",
            "id": "menu_col_2",
            "label": "Menu col 2"
        },
        {
            "type": "link_list",
            "id": "menu_col_3",
            "label": "Menu col 3"
        },
        {
            "type": "link_list",
            "id": "menu_col_4",
            "label": "Menu col 4"
        }
    ]
}
{% endschema %}


{% style %}
footer {
    border-top: 1px solid #fff;
}
.c-footer__currency select {
    font-size: 12px;
}
{% endstyle %}