<div class="c-header js-header">
  <div class="c-header__back-area js-header-back-area"></div>
  <div class="c-header__top js-header-bar">
    <a class="c-header__logo js-header-close-dropdown" href="{{ shop.url }}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="127"
        height="29"
        fill="none"
      >
        <path fill="#000"
            d="M86.739 4C85.917 6.219 83.335 8 81 8c-2.335 0-3.568-1.781-2.746-4 .822-2.203 3.403-4 5.738-4 2.335 0 3.584 1.781 2.746 4ZM35.387 1 21 28h9.707l2.258-4.858h3.477L35.222 28h9.625L49 1H35.37h.017Zm2.489 17.35h-3.263c1.12-2.38 3.065-6.163 5.85-11.385a446.678 446.678 0 0 0-2.587 11.385ZM23.46 17.629h-9.21l-1.175 3.394c-.515 1.484-.95 2.423-1.304 2.819-.354.412-.885.61-1.578.61-.692 0-1.126-.198-1.19-.594-.065-.395.128-1.252.579-2.554l4.33-12.476c.483-1.368.886-2.258 1.24-2.67.354-.412.902-.61 1.675-.61.676 0 1.062.165 1.143.511.08.347-.113 1.17-.58 2.522l-1.61 4.647h9.21l.885-2.554c.869-2.505 1.24-4.35 1.094-5.521-.145-1.187-.966-2.175-2.447-2.966C23.025 1.396 20.916 1 18.212 1c-1.997 0-3.865.264-5.587.775-1.723.51-3.172 1.22-4.347 2.126-1.176.89-2.029 1.829-2.544 2.801-.515.973-1.111 2.423-1.787 4.367L1.21 18.93C.308 21.534-.094 23.512.019 24.814c.112 1.318.917 2.34 2.414 3.082C3.931 28.637 6.023 29 8.728 29s4.943-.428 7.02-1.318c2.077-.89 3.59-1.912 4.508-3.082.918-1.17 1.867-3.148 2.85-5.95l.37-1.038-.016.017ZM113.387 1 99 28h9.707l2.258-4.858h3.461L113.206 28h9.624L127 1h-13.629.016Zm2.505 17.35h-3.263c1.104-2.38 3.066-6.163 5.851-11.385a447.037 447.037 0 0 0-2.588 11.385ZM109.043 6.436 111 1H91.82a9.268 9.268 0 0 1-.519 2.462c-.385 1.041-.936 2.032-1.589 2.958h4.064L86 28h9.565l7.776-21.58h5.719l-.017.016ZM73.073 10.914l.618-1.768c-.731-1.536-.813-3.52-.049-5.684.098-.297.228-.595.358-.892-.504-.48-1.317-.86-2.438-1.124C70.294 1.15 68.392 1 65.856 1h-9.395L47 28h9.282l3.804-10.856h2.503c2.048 0 3.787-.215 5.201-.645 1.415-.43 2.504-1.024 3.251-1.817.748-.793 1.431-2.05 2.032-3.784v.016Zm-6.68-3.073-.78 2.247c-.358 1.008-.748 1.669-1.22 2-.455.33-1.121.495-2 .495-.194 0-.438 0-.698-.033l2.438-6.956c1.252 0 2.016.148 2.308.43.293.28.277.892-.049 1.833v-.016ZM79.348 12.474c-1.656 0-3.057-.426-4.15-1.163L69 28h9.682L85 11c-1.81.917-3.757 1.458-5.652 1.458v.016Z" />
      </svg>
    </a>
    <nav class="c-header__menu">
      {%- for link in section.settings.menu.links -%}
        {%- if link.links != blank -%}
          <button
            class="c-header__menu-item js-dropdown-trigger"
            type="button"
            data-menu-trigger="{{ link.handle }}"
          >
            {{ link.title }}
          </button>
        {%- else -%}
          <a class="c-header__menu-item js-header-close-dropdown" href="{{ link.url }}">{{ link.title }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
    <div class="c-header__utilities">
      <button
        class="c-header__utility is-search js-dropdown-toggle"
        data-menu-trigger="search"
        type="button"
      >
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 28.3 28.3">
          <defs>
            <style>
              .st0 {
                fill: none;
                stroke: #0b0204;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2px;
              }
            </style>
          </defs>
          <path class="st0" d="M12.3,20.8c4.7,0,8.6-3.8,8.6-8.6S17,3.7,12.3,3.7,3.7,7.5,3.7,12.3s3.8,8.6,8.6,8.6h0Z"/>
          <path class="st0" d="M18.5,18.5l6.2,6.2"/>
        </svg>
          
      </button>

      <a class="c-header__utility is-user js-header-close-dropdown" href="/account/login">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 28.3 28.3">
          <defs>
            <style>
              .st0, .st1 {
                fill: none;
                stroke: #000;
                stroke-width: 2px;
              }
        
              .st1 {
                stroke-linecap: round;
              }
            </style>
          </defs>
          <circle class="st0" cx="14.2" cy="8.7" r="5"/>
          <path class="st1" d="M22.2,24.7c0-4.4-3.6-8-8-8s-8,3.6-8,8"/>
        </svg>
          
      </a>
      {% include "location" %}
      <button
        class="c-header__utility is-cart js-dropdown-toggle"
        data-menu-trigger="cart"
        type="button"
      >
        <span style="display:block;overflow:hidden">
          <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.9448 7.14551H1V22.5801H21.9448V7.14551Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.73877 12.2155V7.36414C5.73877 4.19687 8.30624 1.63232 11.4706 1.63232C14.6378 1.63232 17.2024 4.19982 17.2024 7.36414V12.2155" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {% comment %} <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 80 40"
          >
            <path
                d="M14.122 27.811h-.543c-.816-.02-1.319-.693-1.027-1.425.242-.587.564-1.133.835-1.71a.558.558 0 0 0 .05-.312c-.553-2.53-1.116-5.06-1.67-7.589-.402-1.826-.815-3.652-1.208-5.479-.04-.175-.11-.205-.271-.205h-3.14c-.655 0-1.148-.459-1.148-1.045 0-.478.362-.928.856-1.015.13-.03.271-.03.412-.03 1.248 0 2.496.02 3.744 0 1.188-.03 1.359.479 1.55 1.26.05.225.09.45.121.684.02.117.07.175.201.156h19.848c.272 0 .533 0 .765.166.312.215.503.498.503.879v8.35c0 .586-.423.997-1.047 1.065-2.476.283-4.952.566-7.428.84-2.717.302-5.434.605-8.152.918-.624.068-1.238.146-1.872.225.07.38.201.752.171 1.103-.02.352-.201.703-.322 1.074h15.218c.262 0 .543.05.765.166.423.215.594.684.483 1.123a1.08 1.08 0 0 1-.976.782c-.212.01-.433 0-.665.03.705.204 1.218.624 1.51 1.269.191.42.222.869.09 1.308-.271.958-1.127 1.602-2.103 1.583-1.006-.02-1.852-.674-2.083-1.631a2.05 2.05 0 0 1 .05-1.075c.11-.37.312-.683.614-.918.292-.215.624-.37.906-.537h-14.06c.613.195 1.107.537 1.409 1.104.312.566.332 1.152.1 1.738-.312.82-1.258 1.377-2.164 1.319-1.026-.069-1.811-.89-1.952-1.69-.151-.86.221-2.022 1.62-2.48h.01Z"
                fill="#000"
            />
            <path
                d="m69.734 11.268-18.48 18.48M50 11l19 19"
                stroke="#000"
                stroke-width="3"
                stroke-linecap="round"
            />
          </svg> {% endcomment %}
        </span>
        {% if cart.item_count > 0 %}
          {% assign class_cart = 'show' %}
        {% else %}
          {% assign class_cart = 'hide' %}
        {% endif %}
        <span class="cart-count js-cart-count medium {{ class_cart }}">{{ cart.item_count }}</span>
      </button>
      <button class="c-header__utility is-menu js-header-mobile-menu" type="button">
        <svg class="svg-menu-open" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.25977 1.51611H22.2045" stroke="#0B0204" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.25977 20.6973H22.2045" stroke="#0B0204" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.25977 11.1064H22.2045" stroke="#0B0204" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="svg-menu-close hide" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.62598 1L19.8385 19.2125" stroke="#0B0204" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.8384 1L1.62584 19.2125" stroke="#0B0204" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
          
      </button>

    </div>
  </div>
  {% comment %} <hr class="c-header__line"> {% endcomment %}
  <div class="c-header__dropdown">
    <div class="c-header__bg"></div>
    {% include 'cart-header' %}
    <div class="c-header__menu-list js-header-menu-list">
      <div
        class="c-header__dropdown-panel c-header-search js-header-toggle-dropdown js-header-search"
        style="display: none"
        data-parent="search"
      >
        <form class="c-header-search__input" action="javascript:void(0);">
          <input
            id="search-input"
            type="text"
            placeholder="Search"
          >
            <svg style="display:none" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 28.3 28.3">
              <defs>
                <style>
                  .st0 {
                    fill: none;
                    stroke: #0b0204;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <path class="st0" d="M12.3,20.8c4.7,0,8.6-3.8,8.6-8.6S17,3.7,12.3,3.7,3.7,7.5,3.7,12.3s3.8,8.6,8.6,8.6h0Z"></path>
              <path class="st0" d="M18.5,18.5l6.2,6.2"></path>
            </svg>
        </form>
        <div id="search-result"></div>
      </div>

      {%- for link in section.settings.menu.links -%}
        <div
          class="c-header__dropdown-panel c-header-menu js-header-dropdown c-header__dropdown-panel--{{ forloop.index }}"
          style="display: none"
          data-parent="{{ link.handle }}"
        >
          {%- if link.links != blank -%}
            <button class="c-header-menu__parent js-header-menu-parent">
              <span>{{ link.title }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10"/>
                <path d="M5.19971 8.5H11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                <path class="svg-line-vert" d="M8.49976 5.19971V11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
              </svg>
            </button>

            <div class="js-header-menu">
              <div class="c-header-menu__list">
                {%- for childlink in link.links -%}
                  {%- if childlink.links == blank -%}
                    <a class="c-menu-item" href="{{ childlink.url }}">
                      <span>
                        {{ childlink.title }}
                      </span>
                    </a>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="c-header-menu__line"></div>

          {%- else -%}
            <a
              class="c-header-menu__parent"
              href="{{ link.url }}"
              ><span>{{ link.title }}</span>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10"/>
                <path d="M5.19971 8.5H11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                <path class="svg-line-vert" d="M8.49976 5.19971V11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
              </svg>
            </a>
            <div class="c-header-menu__line"></div>
          {%- endif -%}
        </div>
      {%- endfor -%}

      <div
        class="c-header__dropdown-panel c-header-menu js-header-dropdown only-mob"
        style="display: none"
        data-parent=""
      >
        <a
          class="c-header-menu__parent"
          href="/account/login"
          ><span>Account</span>
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10"/>
            <path d="M5.19971 8.5H11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
            <path class="svg-line-vert" d="M8.49976 5.19971V11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
          </svg>
        </a>
        <div class="c-header-menu__line"></div>
      </div>
      <div
        class="c-header__dropdown-panel c-header-menu js-header-dropdown only-mob"
      >
        <a
          class="c-header-menu__parent"
          href="/pages/select-location"
          > 
          <div class="c-header-menu__country">{{ localization.country | image_url: width: 24 | image_tag }} {{ localization.country.iso_code }}/{{ shop.locale | upcase }}</div>
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10"/>
            <path d="M5.19971 8.5H11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
            <path class="svg-line-vert" d="M8.49976 5.19971V11.8003" stroke="#0B0204" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
          </svg>
        </a>
        <div class="c-header-menu__line"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% style %}

.c-header-menu__parent.is-open svg .svg-line-vert {
  display:none;
}
.c-header__dropdown-panel--1 {
  z-index: 1;
}
.c-header-menu__list {
  padding-bottom: 0;
  @media screen and (max-width: 991px) {
    padding-bottom: 20px;
  }
}
  #search-result {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 20px;
  }
  @media screen and (min-width: 1200px) {
    #search-result {
      margin-top: 80px;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .s-item__content {
    display: flex;
    align-items: center;
  }
  .s-item__content a {
    flex-shrink: 0;
  }
  .s-item__content img {
    height: 80px;
  }
  .s-item__info {
    color: #000;
    text-align: left;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
  }
  .s-item__info span {
    font-weight: 500;
  }
  .c-header__utility {
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: 2px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 14px;
  }
  .cart-count.hide {
    display: none;
  }
  .c-header-menu__country {
    display: flex;
    align-items: center;
  }
  .c-header-menu__country img {
    display: block;
    margin-right: 10px;
  }
  .c-header__utility svg {
    max-width: 26px;
    @media screen and (max-width: 991px) {
      max-width: 28px;
    }
  }
  .c-header__utility.is-cart svg {
    max-width: 23px;
    width: auto;
    @media screen and (max-width: 991px) {
      max-width: 29px;
      margin-bottom: 4px;
      margin-left: 5px;
    }
  }
.c-menu-item {
  z-index: 1;
}
.c-menu-item,
.c-header__menu-item {
  color: #000;
  text-transform: unset;
}
.c-menu-item span:after,
.c-header__menu-item:after {
  background-color: #000;
}
input#search-input {
    border: 1px solid #000;
    color: #000;
    padding-top: 8px;
    padding-bottom: 7px;
    font-weight: bold;
}


@media screen and (max-width: 1199px) {
  .c-header__utilities .country-site-selector {
    display: none;
  }
}

.c-header__utilities .country-site-selector {
  background: none;
  padding: 0 !important;
  margin-right: 35px;
}
.country-site-selector.opened .country-site-selector__other {
  top: 60px;
  background: #fff !important;
  min-height: 360px;
}
.o-btn {
  text-transform: unset;
  min-width: 352px;
}
a.c-header__utility.is-user.js-header-close-dropdown {
  display: flex;
}
@media screen and (max-width: 991px) {
  .c-header__utility.is-search {
    display: block !important;
  }
  a.c-header__utility.is-user.js-header-close-dropdown {
    display: none !important;
  }

}
.c-header-menu__parent {
  color: #000;
  text-transform: unset;
  padding: 15px 0;
}
.c-header-menu__parent:after {
  /* filter: invert(1); */
  display: none !important;
}
.c-header-menu__line {
    background-color: #000;
}
.c-menu-item span {
    padding-top: 0px;
    padding-bottom: 0px;
}
#search-input::placeholder {
  color: #000;
}
.c-header-search__input::after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 45px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGl2ZWxsb18xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI4LjMgMjguMyI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI5LjMuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4wIEJ1aWxkIDE1MSkgIC0tPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuc3QwIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogIzBiMDIwNDsKICAgICAgICBzdHJva2UtbGluZWNhcDogcm91bmQ7CiAgICAgICAgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsKICAgICAgICBzdHJva2Utd2lkdGg6IDJweDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggY2xhc3M9InN0MCIgZD0iTTEyLjMsMjAuOGM0LjcsMCw4LjYtMy44LDguNi04LjZTMTcsMy43LDEyLjMsMy43LDMuNyw3LjUsMy43LDEyLjNzMy44LDguNiw4LjYsOC42aDBaIi8+CiAgPHBhdGggY2xhc3M9InN0MCIgZD0iTTE4LjUsMTguNWw2LjIsNi4yIi8+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 28px;
  position: absolute;
  top: 0;
  right: 16px;
}
.c-header-cart__total,
.c-cart-item__price,
.c-cart-item__quantity span,
.c-cart-item__info {
  color: #000;
}
.c-cart-item__quantity span {
  font-size: 20px;
  font-weight: 600;
}
.c-header-cart__line {
  background-color: #000;
}
input.cart-submit.c-header-cart__checkout-btn {
    background: #000;
    color: #fff;
    width: 100%;
    max-width: 310px;
}
.c-cart-item__info {
  display: flex;
  flex-direction: column;
}
.c-header__dropdown-panel.c-header-cart {
  background-color: #ffffff9e;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.c-header__bg {
  background-color: #ffffff9e;
  -webkit-backdrop-filter: unset;
  backdrop-filter: unset;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.c-header__top {
    background: #fffffff5;
    @media screen and (max-width: 991px) {
      padding-top: 12px;
      padding-bottom: 14px;
    }
}
.c-header__utility.is-menu {
  width: 31px;
}
.c-header__utility.is-menu svg {
  width: auto;
  float: right;
  padding-bottom: 2px;
}
.c-header__utility.is-menu.is-active svg {
    transform: translate(0);
}
@media screen and (min-width: 48em) {
    .c-cart-item__quantity {
        justify-content: start;
    }
    .c-header__bg {
      background-color: #fffffff5;
      -webkit-backdrop-filter: unset;
      backdrop-filter: unset;
    }
    .c-header {
        background: #fff;
    }
}
.svg-menu-open.hide,
.svg-menu-close.hide {
  display: none;
}
{% endstyle %}

{% javascript %}
  (function (document) {
    let selectors = {
      searchInput: '#search-input',
      searchResult: '#search-result',
      cookieSettingsMenu: '.c-footer__block--col4 .c-footer__item--1',

      siteModalChooseCountry: '#choose-country-site-modal',
      siteModalChooseCountryClose: '#choose-country-site-modal .fas.fa-times-circle',
      siteModalChooseCountryCloseBtnNo: '#choose-country-site-modal .btn-no',

      pdpBtnAddToCart: '.js-add-to-cart',
      pdpProductPrice: '.c-product-info__price',
      plpProductPrice: '.c-listing-product__price',
      pdpAfterPay: '.c-product-info__afterpay',
      pdpPayPal: '.c-product-info__paypal',

      searchMobileBtn: '.is-cart.js-dropdown-trigger',
      hamMobileBtn: '.is-menu.js-header-mobile-menu',
      mobHeader: '.c-header.js-header',

      'mobMenuHamb': '.js-header-mobile-menu',

      'cartClose': '.js-cart-close',
    };

    let searchInput = document.querySelector(selectors.searchInput);
    let searchResult = document.querySelector(selectors.searchResult);
    let cookieSettingsMenu = document.querySelector(selectors.cookieSettingsMenu);

    let siteModalChooseCountry = document.querySelector(selectors.siteModalChooseCountry);
    let siteModalChooseCountryClose = document.querySelector(selectors.siteModalChooseCountryClose);
    let siteModalChooseCountryCloseBtnNo = document.querySelector(selectors.siteModalChooseCountryCloseBtnNo);
    let pdpBtnAddToCart = document.querySelector(selectors.pdpBtnAddToCart);
    let pdpProductPrice = document.querySelector(selectors.pdpProductPrice);
    let plpProductPrice = document.querySelectorAll(selectors.plpProductPrice);
    let pdpAfterPay = document.querySelector(selectors.pdpAfterPay);
    let pdpPayPal = document.querySelector(selectors.pdpPayPal);

    let searchMobileBtn = document.querySelector(selectors.searchMobileBtn);
    let hamMobileBtn = document.querySelector(selectors.hamMobileBtn);
    let mobHeader = document.querySelector(selectors.mobHeader);

    let mobMenuHamb = document.querySelector(selectors.mobMenuHamb);

    let cartClose = document.querySelector(selectors.cartClose);

    if (cartClose) {
      cartClose.addEventListener("click", function(){
        document.querySelector(".js-dropdown-toggle.is-cart").click()
      })
    }

    if (mobMenuHamb) {
      mobMenuHamb.addEventListener("click", function(){
        let svg_ham_open = mobMenuHamb.querySelector(".svg-menu-open");
        let svg_ham_close = mobMenuHamb.querySelector(".svg-menu-close");

        if (svg_ham_open.classList.contains("hide")){
          svg_ham_open.classList.remove("hide")
          svg_ham_close.classList.add("hide")
        } else {
          svg_ham_open.classList.add("hide")
          svg_ham_close.classList.remove("hide")
        }
      })
    }
    // searchMobileBtn.addEventListener("click", function(event) {
    //   event.stopPropagation()
    //   if (searchMobileBtn.classList.contains("is-active")) {
    //     console.log("close menu") 
    //     hamMobileBtn.classList.remove("is-active")
    //     mobHeader.classList.remove("has-dropdown")
    //     document.body.style.setProperty("--panel-height",`${i}px`)
    //   }
    // })

    function predectiveSearch() {
      fetch(
        window.Shopify.routes.root +
          'search/suggest.json?q=' +
          searchInput.value +
          '&resources[type]=product&resources[options][unavailable_products]=hide&resources[options][fields]=title,body,product_type,variants.title'
      )
        .then((response) => response.json())
        .then((suggestions) => {
          const productSuggestions = suggestions.resources.results.products;

          searchResult.innerHTML = '';

          productSuggestions.forEach((prodSug, i) => {
            var prodSugItem = document.createElement('div');
            prodSugItem.setAttribute('class', 's-item');
            prodSugItem.setAttribute('data-id', prodSug.id);

            prodSugItem.innerHTML =
              `
                <div class="s-item__content">
                  <a href="` +
              prodSug.url +
              `">
                      <img class="s-item__image" src="` +
              prodSug.image +
              `&width=140" alt="` +
              prodSug.title +
              `">
                  </a>
                  <div class="s-item__info">
                    <span>` +
              prodSug.title +
              `</span>
                  </div>
                </div>
              `;
            searchResult.append(prodSugItem);
          });

          if (window.innerWidth > 1200) {
            const sContent = document.querySelector('.c-header-search');
            const t = sContent.getBoundingClientRect().height;
            document.body.style.setProperty('--panel-height', `${t}px`);
          }

          if (productSuggestions.length > 0) {
            const firstProductSuggestion = productSuggestions[0];

            console.log(`The title of the first product suggestion is: ${firstProductSuggestion.title}`);
          }
        });
    }

    window.addEventListener('load', (event) => {
      searchInput.addEventListener('input', function (event) {
        event.preventDefault();
        searchResult.innerHTML = '';

        if (searchInput.value.length > 2) {
          predectiveSearch();
        }
      });

      if (cookieSettingsMenu) {
        cookieSettingsMenu.addEventListener('click', function (event) {
          document.querySelector('.cc-window.cc-banner').style.display = null;
        });
      }
    });


    function hidePricesInfos() {
      if (pdpBtnAddToCart) {
          pdpBtnAddToCart.style.display = 'none';
        }
        if (pdpProductPrice) {
          pdpProductPrice.style.display = 'none';
        }
        if (pdpAfterPay) {
          pdpAfterPay.style.display = 'none';
        }
        if (pdpPayPal) {
          pdpPayPal.style.display = 'none';
        }
        if (plpProductPrice) {
          plpProductPrice.forEach((plpProductPrice_single) => {
            plpProductPrice_single.style.display = 'none';
          });
        }
        if (document.querySelectorAll('.c-product-card__price')) {
          document.querySelectorAll('.c-product-card__price').forEach((pdpProductPriceRelated_single) => {
            pdpProductPriceRelated_single.style.display = 'none';
          });
        }
    }

    window.addEventListener('load', function () {
      if (siteModalChooseCountry) {
        if (sessionStorage.getItem('modalCountry') == 'close') {
          siteModalChooseCountry.classList.remove('show');
        }
        siteModalChooseCountryClose.addEventListener('click', function () {
          siteModalChooseCountry.classList.remove('show');
          sessionStorage.setItem('modalCountry', 'close');
        });
        siteModalChooseCountryCloseBtnNo.addEventListener('click', function () {
          siteModalChooseCountry.classList.remove('show');
          sessionStorage.setItem('modalCountry', 'close');
        });
      }

      // if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
      //   hidePricesInfos()
      // }

      // setInterval(function () {
      //   if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
      //     hidePricesInfos()
      //   }
      // }, 1000);

      // setInterval(function () {
      //   if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
      //     hidePricesInfos()
      //   }
      // }, 2000);

      // setInterval(function () {
      //   if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
      //     hidePricesInfos()
      //   }
      // }, 3000);

    });
  })(document);
{% endjavascript %}
