<div class="c-header js-header">
  <div class="c-header__back-area js-header-back-area"></div>
  <div class="c-header__bg"></div>
  <div class="c-header__top js-header-bar">
    <a class="c-header__logo js-header-close-dropdown" href="{{ shop.url }}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="127"
        height="29"
        fill="none"
      >
        <path fill="#fff"
            d="M86.739 4C85.917 6.219 83.335 8 81 8c-2.335 0-3.568-1.781-2.746-4 .822-2.203 3.403-4 5.738-4 2.335 0 3.584 1.781 2.746 4ZM35.387 1 21 28h9.707l2.258-4.858h3.477L35.222 28h9.625L49 1H35.37h.017Zm2.489 17.35h-3.263c1.12-2.38 3.065-6.163 5.85-11.385a446.678 446.678 0 0 0-2.587 11.385ZM23.46 17.629h-9.21l-1.175 3.394c-.515 1.484-.95 2.423-1.304 2.819-.354.412-.885.61-1.578.61-.692 0-1.126-.198-1.19-.594-.065-.395.128-1.252.579-2.554l4.33-12.476c.483-1.368.886-2.258 1.24-2.67.354-.412.902-.61 1.675-.61.676 0 1.062.165 1.143.511.08.347-.113 1.17-.58 2.522l-1.61 4.647h9.21l.885-2.554c.869-2.505 1.24-4.35 1.094-5.521-.145-1.187-.966-2.175-2.447-2.966C23.025 1.396 20.916 1 18.212 1c-1.997 0-3.865.264-5.587.775-1.723.51-3.172 1.22-4.347 2.126-1.176.89-2.029 1.829-2.544 2.801-.515.973-1.111 2.423-1.787 4.367L1.21 18.93C.308 21.534-.094 23.512.019 24.814c.112 1.318.917 2.34 2.414 3.082C3.931 28.637 6.023 29 8.728 29s4.943-.428 7.02-1.318c2.077-.89 3.59-1.912 4.508-3.082.918-1.17 1.867-3.148 2.85-5.95l.37-1.038-.016.017ZM113.387 1 99 28h9.707l2.258-4.858h3.461L113.206 28h9.624L127 1h-13.629.016Zm2.505 17.35h-3.263c1.104-2.38 3.066-6.163 5.851-11.385a447.037 447.037 0 0 0-2.588 11.385ZM109.043 6.436 111 1H91.82a9.268 9.268 0 0 1-.519 2.462c-.385 1.041-.936 2.032-1.589 2.958h4.064L86 28h9.565l7.776-21.58h5.719l-.017.016ZM73.073 10.914l.618-1.768c-.731-1.536-.813-3.52-.049-5.684.098-.297.228-.595.358-.892-.504-.48-1.317-.86-2.438-1.124C70.294 1.15 68.392 1 65.856 1h-9.395L47 28h9.282l3.804-10.856h2.503c2.048 0 3.787-.215 5.201-.645 1.415-.43 2.504-1.024 3.251-1.817.748-.793 1.431-2.05 2.032-3.784v.016Zm-6.68-3.073-.78 2.247c-.358 1.008-.748 1.669-1.22 2-.455.33-1.121.495-2 .495-.194 0-.438 0-.698-.033l2.438-6.956c1.252 0 2.016.148 2.308.43.293.28.277.892-.049 1.833v-.016ZM79.348 12.474c-1.656 0-3.057-.426-4.15-1.163L69 28h9.682L85 11c-1.81.917-3.757 1.458-5.652 1.458v.016Z" />
      </svg>
    </a>
    <nav class="c-header__menu">
      {%- for link in section.settings.menu.links -%}
        {%- if link.links != blank -%}
          <button
            class="c-header__menu-item js-dropdown-trigger"
            type="button"
            data-menu-trigger="{{ link.handle }}"
          >
            {{ link.title }}
          </button>
        {%- else -%}
          <a class="c-header__menu-item js-header-close-dropdown" href="{{ link.url }}">{{ link.title }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
    <div class="c-header__utilities">
      <button
        class="c-header__utility is-search js-dropdown-trigger"
        data-menu-trigger="search"
        type="button"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
          <path fill="#fff" fill-rule="evenodd"
              d="M18.011 8c5.526 0 10.011 4.34 10.011 9.729 0 2.017-.64 3.88-1.708 5.439l5.205 5.055c.641.639.641 1.66 0 2.298a1.68 1.68 0 0 1-2.349 0l-5.152-5.005a10.11 10.11 0 0 1-6.007 1.941C12.485 27.432 8 23.091 8 17.728 8 12.341 12.485 8 18.011 8Zm0 3.243c-3.684 0-6.674 2.91-6.674 6.486 0 3.575 2.99 6.485 6.674 6.485s6.674-2.91 6.674-6.485c.027-3.6-2.963-6.486-6.674-6.486Z"
              clip-rule="evenodd" />
        </svg>
      </button>
      <button
        class="c-header__utility is-cart js-dropdown-trigger"
        data-menu-trigger="cart"
        type="button"
      >
        <span style="display:block;overflow:hidden">
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 80 40"
          >
            <path
                d="M14.122 27.811h-.543c-.816-.02-1.319-.693-1.027-1.425.242-.587.564-1.133.835-1.71a.558.558 0 0 0 .05-.312c-.553-2.53-1.116-5.06-1.67-7.589-.402-1.826-.815-3.652-1.208-5.479-.04-.175-.11-.205-.271-.205h-3.14c-.655 0-1.148-.459-1.148-1.045 0-.478.362-.928.856-1.015.13-.03.271-.03.412-.03 1.248 0 2.496.02 3.744 0 1.188-.03 1.359.479 1.55 1.26.05.225.09.45.121.684.02.117.07.175.201.156h19.848c.272 0 .533 0 .765.166.312.215.503.498.503.879v8.35c0 .586-.423.997-1.047 1.065-2.476.283-4.952.566-7.428.84-2.717.302-5.434.605-8.152.918-.624.068-1.238.146-1.872.225.07.38.201.752.171 1.103-.02.352-.201.703-.322 1.074h15.218c.262 0 .543.05.765.166.423.215.594.684.483 1.123a1.08 1.08 0 0 1-.976.782c-.212.01-.433 0-.665.03.705.204 1.218.624 1.51 1.269.191.42.222.869.09 1.308-.271.958-1.127 1.602-2.103 1.583-1.006-.02-1.852-.674-2.083-1.631a2.05 2.05 0 0 1 .05-1.075c.11-.37.312-.683.614-.918.292-.215.624-.37.906-.537h-14.06c.613.195 1.107.537 1.409 1.104.312.566.332 1.152.1 1.738-.312.82-1.258 1.377-2.164 1.319-1.026-.069-1.811-.89-1.952-1.69-.151-.86.221-2.022 1.62-2.48h.01Z"
                fill="#fff"
            />
            <path
                d="m69.734 11.268-18.48 18.48M50 11l19 19"
                stroke="#fff"
                stroke-width="3"
                stroke-linecap="round"
            />
          </svg>
        </span>
        {% if cart.item_count > 0 %}
          {% assign class_cart = 'show' %}
        {% else %}
          {% assign class_cart = 'hide' %}
        {% endif %}
        <span class="cart-count js-cart-count medium {{ class_cart }}">{{ cart.item_count }}</span>
      </button>
      <button class="c-header__utility is-menu js-header-mobile-menu" type="button">
        <svg
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 80 40"
        >
          <rect
              x="6"
              y="10"
              width="28"
              height="5"
              rx="2.5"
              fill="#fff"
          />
          <rect
              x="6"
              y="18"
              width="28"
              height="5"
              rx="2.5"
              fill="#fff"
          />
          <rect
              x="6"
              y="26"
              width="28"
              height="5"
              rx="2.5"
              fill="#fff"
          />
          <path
              d="m69.734 11.268-18.48 18.48M50 11l19 19"
              stroke="#fff"
              stroke-width="3"
              stroke-linecap="round"
          />
        </svg>
      </button>
      <a class="c-header__utility is-user js-header-close-dropdown" href="/account/login">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 40 40"
          fill="none"
        >
          <path fill="#fff"
              d="M26.325 19.596a1.02 1.02 0 0 0-1.051.237c-1.153 1.153-3.085 1.831-5.187 1.831-2.102 0-4.035-.678-5.188-1.83a1.019 1.019 0 0 0-1.05-.238C9.372 21.156 7 24.716 7 29.869a1.016 1.016 0 0 0 1.017 1.017h24.14a1.016 1.016 0 0 0 1.017-1.017c0-5.154-2.374-8.714-6.849-10.273Z" />
          <path fill="#fff"
              d="M13.95 12.95c0 3.865 2.745 6.984 6.136 6.984 3.39 0 6.136-3.119 6.136-6.95S23.476 6 20.086 6s-6.137 3.12-6.137 6.95Z" />
        </svg>
      </a>
    </div>
  </div>
  {% comment %} <hr class="c-header__line"> {% endcomment %}
  <div class="c-header__dropdown">
    {% include 'cart-header' %}
    <div class="c-header__menu-list js-header-menu-list">
      <div
        class="c-header__dropdown-panel c-header-search js-header-dropdown js-header-search"
        style="display: none"
        data-parent="search"
      >
        <label
          class="c-header-search__title"
          for="search-input"
          >SEEK AND YOU WILL FIND</label
        >
        <form class="c-header-search__input" action="javascript:void(0);">
          <input
            id="search-input"
            type="text"
            placeholder="Type here"
          >
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_405_1183)">
                <circle cx="7.6066" cy="7.60547" r="7" transform="rotate(-45 7.6066 7.60547)" stroke="white" />
                <path d="M9.72656 5.48535L5.48392 9.72799" stroke="white" stroke-width="1.36364"
                    stroke-linecap="round" />
                <path d="M5.19531 5.19434L10.0165 10.0155" stroke="white" stroke-width="1.36364"
                    stroke-linecap="round" />
            </g>
            <defs>
                <clipPath id="clip0_405_1183">
                    <rect width="15" height="15" fill="white" />
                </clipPath>
            </defs>
          </svg>
        </form>

        <div id="search-result"></div>
      </div>

      {%- for link in section.settings.menu.links -%}
        <div
          class="c-header__dropdown-panel c-header-menu js-header-dropdown"
          style="display: none"
          data-parent="{{ link.handle }}"
        >
          {%- if link.links != blank -%}
            <button class="c-header-menu__parent js-header-menu-parent">
              <span>{{ link.title }}</span>
            </button>

            <div class="js-header-menu">
              <div class="c-header-menu__list">
                {%- for childlink in link.links -%}
                  {%- if childlink.links == blank -%}
                    <a class="c-menu-item" href="{{ childlink.url }}">
                      <span>
                        {{ childlink.title }}
                      </span>
                    </a>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="c-header-menu__line"></div>

          {%- else -%}
            <a
              class="c-header-menu__parent"
              href="{{ link.url }}"
              ><span>{{ link.title }}</span>
            </a>
            <div class="c-header-menu__line"></div>
          {%- endif -%}
        </div>
      {%- endfor -%}

      <div
        class="c-header__dropdown-panel c-header-menu js-header-dropdown only-mob"
        style="display: none"
        data-parent=""
      >
        <a
          class="c-header-menu__parent"
          href="/account/login"
          ><span>ACCOUNT</span>
        </a>
        <div class="c-header-menu__line"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% style %}
  #search-result {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 20px;
  }
  @media screen and (min-width: 1200px) {
    #search-result {
      margin-top: 80px;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .s-item__content {
    display: flex;
    align-items: center;
  }
  .s-item__content a {
    flex-shrink: 0;
  }
  .s-item__content img {
    height: 80px;
  }
  .s-item__info {
    color: #fff;
    text-align: left;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
  }
  .s-item__info span {
    font-weight: 500;
  }
  .c-header__utility {
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: -7px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    font-size: 18px;
  }
  .cart-count.hide {
    display: none;
  }
{% endstyle %}

{% javascript %}
  (function (document) {
    let selectors = {
      searchInput: '#search-input',
      searchResult: '#search-result',
      cookieSettingsMenu: '.c-footer__block--col4 .c-footer__item--1',

      siteModalChooseCountry: '#choose-country-site-modal',
      siteModalChooseCountryClose: '#choose-country-site-modal .fas.fa-times-circle',
      siteModalChooseCountryCloseBtnNo: '#choose-country-site-modal .btn-no',

      pdpBtnAddToCart: '.js-add-to-cart',
      pdpProductPrice: '.c-product-info__price',
      plpProductPrice: '.c-listing-product__price',
      pdpAfterPay: '.c-product-info__afterpay',
      pdpPayPal: '.c-product-info__paypal',

      searchMobileBtn: '.is-cart.js-dropdown-trigger',
      hamMobileBtn: '.is-menu.js-header-mobile-menu',
      mobHeader: '.c-header.js-header',
    };

    let searchInput = document.querySelector(selectors.searchInput);
    let searchResult = document.querySelector(selectors.searchResult);
    let cookieSettingsMenu = document.querySelector(selectors.cookieSettingsMenu);

    let siteModalChooseCountry = document.querySelector(selectors.siteModalChooseCountry);
    let siteModalChooseCountryClose = document.querySelector(selectors.siteModalChooseCountryClose);
    let siteModalChooseCountryCloseBtnNo = document.querySelector(selectors.siteModalChooseCountryCloseBtnNo);
    let pdpBtnAddToCart = document.querySelector(selectors.pdpBtnAddToCart);
    let pdpProductPrice = document.querySelector(selectors.pdpProductPrice);
    let plpProductPrice = document.querySelectorAll(selectors.plpProductPrice);
    let pdpAfterPay = document.querySelector(selectors.pdpAfterPay);
    let pdpPayPal = document.querySelector(selectors.pdpPayPal);

    let searchMobileBtn = document.querySelector(selectors.searchMobileBtn);
    let hamMobileBtn = document.querySelector(selectors.hamMobileBtn);
    let mobHeader = document.querySelector(selectors.mobHeader);

    searchMobileBtn.addEventListener("click", function(event) {
      event.stopPropagation()
      if (searchMobileBtn.classList.contains("is-active")) {
        console.log("close menu") 
        hamMobileBtn.classList.remove("is-active")
        mobHeader.classList.remove("has-dropdown")
        document.body.style.setProperty("--panel-height",`${i}px`)
      }
    })

    function predectiveSearch() {
      fetch(
        window.Shopify.routes.root +
          'search/suggest.json?q=' +
          searchInput.value +
          '&resources[type]=product&resources[options][unavailable_products]=hide&resources[options][fields]=title,body,product_type,variants.title'
      )
        .then((response) => response.json())
        .then((suggestions) => {
          const productSuggestions = suggestions.resources.results.products;

          searchResult.innerHTML = '';

          productSuggestions.forEach((prodSug, i) => {
            var prodSugItem = document.createElement('div');
            prodSugItem.setAttribute('class', 's-item');
            prodSugItem.setAttribute('data-id', prodSug.id);

            prodSugItem.innerHTML =
              `
                <div class="s-item__content">
                  <a href="` +
              prodSug.url +
              `">
                      <img class="s-item__image" src="` +
              prodSug.image +
              `&width=140" alt="` +
              prodSug.title +
              `">
                  </a>
                  <div class="s-item__info">
                    <span>` +
              prodSug.title +
              `</span>
                  </div>
                </div>
              `;
            searchResult.append(prodSugItem);
          });

          if (window.innerWidth > 1200) {
            const sContent = document.querySelector('.c-header-search');
            const t = sContent.getBoundingClientRect().height;
            document.body.style.setProperty('--panel-height', `${t}px`);
          }

          if (productSuggestions.length > 0) {
            const firstProductSuggestion = productSuggestions[0];

            console.log(`The title of the first product suggestion is: ${firstProductSuggestion.title}`);
          }
        });
    }

    window.addEventListener('load', (event) => {
      searchInput.addEventListener('input', function (event) {
        event.preventDefault();
        searchResult.innerHTML = '';

        if (searchInput.value.length > 2) {
          predectiveSearch();
        }
      });

      if (cookieSettingsMenu) {
        cookieSettingsMenu.addEventListener('click', function (event) {
          document.querySelector('.cc-window.cc-banner').style.display = null;
        });
      }
    });


    function hidePricesInfos() {
      if (pdpBtnAddToCart) {
          pdpBtnAddToCart.style.display = 'none';
        }
        if (pdpProductPrice) {
          pdpProductPrice.style.display = 'none';
        }
        if (pdpAfterPay) {
          pdpAfterPay.style.display = 'none';
        }
        if (pdpPayPal) {
          pdpPayPal.style.display = 'none';
        }
        if (plpProductPrice) {
          plpProductPrice.forEach((plpProductPrice_single) => {
            plpProductPrice_single.style.display = 'none';
          });
        }
        if (document.querySelectorAll('.c-product-card__price')) {
          document.querySelectorAll('.c-product-card__price').forEach((pdpProductPriceRelated_single) => {
            pdpProductPriceRelated_single.style.display = 'none';
          });
        }
    }

    window.addEventListener('load', function () {
      if (siteModalChooseCountry) {
        if (sessionStorage.getItem('modalCountry') == 'close') {
          siteModalChooseCountry.classList.remove('show');
        }
        siteModalChooseCountryClose.addEventListener('click', function () {
          siteModalChooseCountry.classList.remove('show');
          sessionStorage.setItem('modalCountry', 'close');
        });
        siteModalChooseCountryCloseBtnNo.addEventListener('click', function () {
          siteModalChooseCountry.classList.remove('show');
          sessionStorage.setItem('modalCountry', 'close');
        });
      }

      if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
        hidePricesInfos()
      }

      setInterval(function () {
        if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
          hidePricesInfos()
        }
      }, 1000);

      setInterval(function () {
        if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
          hidePricesInfos()
        }
      }, 2000);

      setInterval(function () {
        if ((sessionStorage.getItem('checkCountry') == 'not-us') || (sessionStorage.getItem('checkCountry') == 'not-eu')) {
          hidePricesInfos()
        }
      }, 3000);

    });
  })(document);
{% endjavascript %}
