<div class="section-team-head">
    <div class="team-head">

        <div class="team-head__content">
            <div class="team-head__infos">
                <span class="sup-text">{{ section.settings.sup_title }}</span>
                <h1>{{ section.settings.title }}</h1>
            </div>
            <div class="team-head__image">
                {% if page.metafields.accentuate.team_member_headshot[0].src != blank %}
                    <img src="{{ page.metafields.accentuate.team_member_headshot[0].src }}" alt="{{ section.settings.title | strip_html }}">
                {% else %}
                    <img src="{{ section.settings.image_picker }}" alt="{{ section.settings.title | strip_html }}">
                {% endif %}
            </div>
        </div>

        <div class="team-head__video">
            <video
                autoplay="true" 
                muted="true" 
                loop="true" 
                playsinline="true"
            >
                {% if page.metafields.accentuate.banner_video != blank %}
                    <source src="{{ page.metafields.accentuate.banner_video }}" type="video/mp4" />
                {% else %}
                    <source src="{{ section.settings.video.sources.url }}" type="video/mp4" />
                {% endif %}
            </video>
        </div>

    </div>
    
</div>

{% schema %}
  {
    "name": "Team Head",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "sup_title",
            "label": "Sup Title",
            "default": "TEAM"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "If team_member_headshot metafiled is not set"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video",
            "info": "If banner_video metafiled is not set"
        }
    ],
    "presets": [
        {
            "name": "Team Head"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

@media screen and (max-width: 768px) {

}

{% endstylesheet %}

