<div class="section-banner-box" style="background-image:url({{ section.settings.background | img_url: 'master' }})">
    <div class="banner-box">
        <div class="banner-box__image only-desk">
            <img src="{{ section.settings.box_image | img_url: 'master' }}">
        </div>
        <div class="banner-box__content">
            <img class="banner-box__content__logo" src="{{ section.settings.logo_image | img_url: 'master' }}">
            <div class="subtitle strong">{{ section.settings.text }}</div>
            <img class="only-mob" src="{{ section.settings.box_image | img_url: 'master' }}">
            <a class="o-btn btn-link btn-green" href="{{section.settings.cta_link}}">{{section.settings.cta_text}}</a>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Banner Box",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "image_picker",
            "id": "box_image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
        }
    ],
    "presets": [
        {
            "name": "Banner Box"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

.section-banner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 155px;
    background-position: 0px -37px;
}
.banner-box {
    display: grid;
    grid-template-columns: 50% 50%;
}
.banner-box__content {
    padding: 30px 70px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .subtitle {
        margin: 20px 0;
        font-weight: 600;
        @media screen and (max-width: 991px) {
            margin: 0 0;
            padding: 0 10px;
        }
    }
}
.banner-box__image.only-desk {
    display: flex;
    align-items: center;
}
.banner-box .only-mob {
    display: none;
}

@media screen and (max-width: 1600px) {
    .section-banner-box {
        padding: 140px 70px;
    }
}
@media screen and (max-width: 991px) {
    .banner-box .only-mob {
        display: block;
    }
    .banner-box .only-desk {
        display: none;
    }
    .banner-box {
        grid-template-columns: 100%;
    }
    .banner-box__content {
        gap: 20px;
        padding: 0;
    }
    .section-banner-box {
        padding: 30px 20px;
        background-position: 5% 158%;
        background-size: 220%;
    }

    .banner-box__content img.only-mob {
        max-width: 100%;
        width: 100%;
    }
    .banner-box__content .btn-link {
        max-width: 100%;
        width: 100%;
    }
    .banner-box__image.only-desk {
        display: none !important;
    }
    .banner-box__content__logo {
        max-width: 210px;
    }
}

{% endstylesheet %}
