{{ 'mod-hero-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.transparent_header %}
    {% javascript %}
        var pagePontainer = document.querySelector(".page-container");
        pagePontainer.style.cssText += 'margin-top: -105px'
    {% endjavascript %}
{% endif %}

{% assign video_desk = section.settings.video | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}
{% assign video_mob = section.settings.video_mob | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}

<div class="section-hero-banner">
    {% if section.settings.video %}
        <div class="only-desk hero-video-video--desk">{{video_desk}}</div>
        <div class="only-mob hero-video-video--mob">{{video_mob}}</div>
        {% else %}
        <img class="only-desk hero-banner__image" src="{{ section.settings.image | img_url: 'master' }}" alt="funky hero" width="100%">
        <img class="only-mob hero-banner__image" src="{{ section.settings.image_mob | img_url: 'master' }}" alt="funky hero" width="100%">
    {% endif %}
    <a href="{{section.settings.cta_ink}}">{{section.settings.cta_text}}</a>
</div>

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "transparent_header",
            "label": "Transparent Header"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image Mob"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "video",
            "id": "video_mob",
            "label": "Video Mob"
        },
        {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
        }
    ],
    "presets": [
        {
            "name": "Hero Banner"
        }
    ]
  }
{% endschema %}
