{% assign video_desk = section.settings.video | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}
{% assign video_mob = section.settings.video_mob | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}

<div class="section-hero-banner">
    
    {% if section.settings.video %}
        <div class="only-desk hero-banner__video">{{video_desk}}</div>
        <div class="only-mob hero-banner__video">{{video_mob}}</div>
        {% else %}
        <img class="only-desk hero-banner__image" src="{{ section.settings.image | img_url: 'master' }}" alt="funky hero" width="100%">
        <img class="only-mob hero-banner__image" src="{{ section.settings.image_mob | img_url: 'master' }}" alt="funky hero" width="100%">
    {% endif %}

    <a class="hero-banner__cta" href="{{section.settings.cta_ink}}">{{section.settings.cta_text}}</a>

</div>

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "transparent_header",
            "label": "Transparent Header"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image Mob"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "video",
            "id": "video_mob",
            "label": "Video Mob"
        },
        {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
        }
    ],
    "presets": [
        {
            "name": "Hero Banner"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
.section-hero-banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.section-hero-banner .only-mob {
    display: none;
}
.section-hero-banner video {
    width: 100%;
    height: calc(100vh - 135px);
    object-fit: cover;
}
.hero-banner__cta {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    min-width: 340px;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    height: 65px;
}

@media screen and (max-width: 768px) {
    .section-hero-banner .only-mob {
        display: block;
    }
    .section-hero-banner .only-desk {
        display: none;
    }
}
{% endstylesheet %}


{% javascript %}
        console.log("ciao")
{% endjavascript %}