{% if section.settings.border_top == "yes" %}
    {% assign style_border_top = "border-top: 2px solid #000;" %}
{% else %}
    {% assign style_border_top = "" %}
{% endif %}

{% if section.settings.border_bottom == "yes" %}
    {% assign style_border_bottom = "border-bottom: 2px solid #000;" %}
{% else %}
    {% assign style_border_bottom = "" %}
{% endif %}

{% if section.settings.black_style == "yes" %}
    {% assign style_black = "background:#000;color:#fff;" %}
{% else %}
    {% assign style_black = "" %}
{% endif %}

<div class="section-lazy-slide only-desk" style="padding: {{ section.settings.padding }}px 0; {{style_border_bottom}} {{style_border_top}} {{style_black}}">
    <div class="lazy-slide-text title" style="font-size: {{ section.settings.font_size }}px">
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
    </div>
</div>

<div class="section-lazy-slide only-mob" style="padding: {{ section.settings.padding_mob }}px 0; {{style_border_bottom}} {{style_border_top}} {{style_black}}">
    <div class="lazy-slide-text title" style="font-size: {{ section.settings.font_size_mob }}px">
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
        <span style="margin-right: {{ section.settings.space_between_text }}px">{{ section.settings.text_slide }}</span>
    </div>
</div>



{% schema %}
  {
    "name": "Lazy Slide",
    "settings": [
        {
            "type": "select",
            "id": "black_style",
            "label": "Black Style",
            "options": [
                {
                "value": "yes",
                "label": "Yes"
                },
                {
                "value": "no",
                "label": "No"
                }
            ],
            "default": "no"
        },
        {
            "type": "text",
            "id": "text_slide",
            "label": "Text"
        },
        {
            "type": "number",
            "id": "font_size",
            "label": "Font Size",
            "default": 16
        },
        {
            "type": "number",
            "id": "font_size_mob",
            "label": "Font Size Mob",
            "default": 16
        },
        {
            "type": "number",
            "id": "padding",
            "label": "Padding",
            "default": 60
        },
        {
            "type": "number",
            "id": "padding_mob",
            "label": "Padding Mob",
            "default": 60
        },
        {
            "type": "number",
            "id": "space_between_text",
            "label": "Space Between Text"
        },
        {
            "type": "select",
            "id": "border_top",
            "label": "Border Top",
            "options": [
                {
                "value": "yes",
                "label": "Yes"
                },
                {
                "value": "no",
                "label": "No"
                }
            ],
            "default": "no"
        },
        {
            "type": "select",
            "id": "border_bottom",
            "label": "Border Bottom",
            "options": [
                {
                "value": "yes",
                "label": "Yes"
                },
                {
                "value": "no",
                "label": "No"
                }
            ],
            "default": "no"
        }
    ],
    "presets": [
        {
            "name": "Lazy Slide"
        }
    ]
  }
{% endschema %}


{% style %}

.section-lazy-slide {
    padding: 20px 0;
    overflow: hidden;
}
.lazy-slide-text {
    display: flex;
    animation: scrollTextLazy 60s infinite linear;
    line-height: 1;
}
.lazy-slide-text span {
    white-space: nowrap;
    margin-right: 50px;
}
.lazy-slide-text.title {
    margin: 0;
}

@keyframes scrollTextLazy {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}
.section-lazy-slide.only-mob {
    display: none;
}
@media screen and (max-width: 768px) {
    .section-lazy-slide.only-mob {
        display: block;
    }
    .section-lazy-slide.only-desk {
        display: none;
    }
    .lazy-slide-text {
        animation: scrollTextLazy 30s infinite linear;
    }
}

{% endstyle %}