<div class="section-logo-list" style="padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;">
    <div class="logo-list">
        <h2 class="logo-list__title strong">{{ section.settings.title }}</h2>
        <div class="logo-list__content">
            {% for block in section.blocks %}
                <div class="single-logo">
                    <img src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.title | strip_html }}">
                </div>
            {% endfor %}
        </div>
        <div class="logo-list__description">{{ section.settings.description }}</div>
    </div>
</div>

{% schema %}
  {
    "name": "Logo List",
    "settings": [
        {
            "type": "number",
            "id": "padding_top",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": 20
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "list",
            "name": "list",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logo List"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

.section-logo-list {
    background: #000;
}
.logo-list {
    max-width: 1440px;
    margin: 0 auto;
    color: #fff;
}
.logo-list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 50px;
}
.single-logo img {
    height: 130px;
}
.logo-list__title {
    font-size: 60px;
    color: #fff;
    line-height: 1;
}
.logo-list__description {
    font-size: 24px;
    line-height: 1;
}
@media screen and (max-width: 768px) {
    .section-logo-list {
        padding: 40px 20px !important;
    }
    .logo-list__title {
        font-size: 36px;
    }
    .logo-list {
        margin: 0 auto;
    }
    .single-logo {
        width: 33.333%;
    }
    .single-logo img {
        height: 80px;
        margin-bottom: 0 auto 30px auto;
    }
    .logo-list__content {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .logo-list__description {
        font-size: 16px;
        margin-bottom: 70px;
    }
}


{% endstylesheet %}

