
<div class="u-bg-black">
  <div class="u-container">
    <div class="u-content">
      <div class="l-listing">
        <div class="l-listing__top">
    
          <div class="l-listing__head">
            <h1>{{ collection.title }}</h1>
            <div class="sorting-listing js-sorting-listing">
    
              {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
    
              <span class="sorting-option {% if sort_by == 'created-descending' %}selected{% endif %}" value="created-descending">NEWEST</span> | <span class="sorting-option {% if sort_by == 'manual' %}selected{% endif %}" value="manual">FEATURED</span> / <span class="sorting-option {% if sort_by == 'price-descending' %}selected{% endif %}" value="price-descending">PRICE: HIGH - LOW</span> |
              <span class="sorting-option {% if sort_by == 'price-ascending' %}selected{% endif %}" value="price-ascending">PRICE: LOW - HIGH</span>
    
            </div>
          </div>
    
          <hr />
    
        </div>
        {% if section.settings.filter_type == "snowboards" %}

          <div class="l-listing__aside">
            <div class="c-listing-filter closed">
              <div class="c-listing-filter__wrapper">
              <div class="c-listing-filter__mob-head closed">
                <span>FILTERS</span>
              </div>
    
              {% comment %} {%- for filter in collection.filters -%}
                <span>{{ filter.label }}</span>
              {%- endfor -%}
    
              {% assign tag_list = "" %}
              {%- for current_tag in current_tags -%}
                {% assign tag_list = tag_list | append: current_tag %}
                {% unless forloop.last %}
                  {% assign tag_list = tag_list | append: "|" %}
                {% endunless %}
              {%- endfor -%} {% endcomment %}
    
              <span class="js-tags-list" data-tags="{{tag_list}}"><span>
    
              <div class="c-listing-filter__stack">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="All" 
                    {% if collection.handle == "all-snowboards" %} 
                      checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                    {% else %} 
                      onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                    {% endif %}/>
                    <span>All</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Men's Snowboards" 
                    {% if collection.handle == "snowboards-mens" %} 
                      checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                    {% else %} 
                      onclick="window.location.replace('{{ collections['snowboards-mens'].url }}')" 
                    {% endif %}/>
                    <span>men's</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Women's Snowboards" 
                    {% if collection.handle == "snowboards-womens" %} 
                    checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                  {% else %} 
                    onclick="window.location.replace('{{ collections['snowboards-womens'].url }}')" 
                  {% endif %}/>
                  <span>women's</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Kid's Snowboards" 
                    {% if collection.handle == "snowboards-kids" %} 
                    checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                  {% else %} 
                    onclick="window.location.replace('{{ collections['snowboards-kids'].url }}')" 
                  {% endif %}/>
                    <span>kids's</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Spring Break" 
                    {% if collection.handle == "spring-break" %} 
                    checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                  {% else %} 
                    onclick="window.location.replace('{{ collections['spring-break'].url }}')" 
                  {% endif %}/>
                    <span>spring break</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Split" 
                    {% if collection.handle == "split-snowboards" %} 
                    checked onclick="window.location.replace('{{ collections['all-snowboards'].url }}')" 
                  {% else %} 
                    onclick="window.location.replace('{{ collections['split-snowboards'].url }}')" 
                  {% endif %}/>
                    <span>Split</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title js-filter-type closed" attr-filter-type="terrain type"><span>TERRAIN TYPE</span></div>
              <div class="c-listing-filter__stack js-filter-inputs js-filter-inputs-onlyone hide" attr-filter-type="terrain type">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Resort" /><span>RESORT</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Freestyle" /><span>FREESTYLE</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Freeride" /><span>FREERIDE</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="Powder" /><span>POWDER</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title js-filter-type closed" attr-filter-type="shape"><span>SHAPE</span></div>
              <div class="c-listing-filter__stack js-filter-inputs js-filter-inputs-onlyone hide" attr-filter-type="shape">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="TRUE TWIN" /><span>TRUE TWIN</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="DIRECTIONAL TWIN" /><span>DIRECTIONAL TWIN</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="DIRECTIONAL" /><span>DIRECTIONAL</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title js-filter-type closed" attr-filter-type="camber type"><span>CAMBER TYPE</span></div>
              <div class="c-listing-filter__stack js-filter-inputs js-filter-inputs-onlyone hide" attr-filter-type="camber type">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="CAMBER" /><span>CAMBER</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="HYBRID CAMBER" /><span>HYBRID CAMBER</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="REVERSE CAMBER" /><span>REVERSE CAMBER</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title js-filter-type closed" attr-filter-type="width"><span>WIDTH</span></div>
              <div class="c-listing-filter__stack js-filter-inputs js-filter-inputs-onlyone hide" attr-filter-type="width">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="REGULAR" /><span>REGULAR</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="WIDE" /><span>WIDE</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title js-filter-type closed" attr-filter-type="size"><span>SIZE</span></div>
              <div class="c-listing-filter__stack c-listing-filter__stack--boxed js-filter-inputs js-filter-inputs-onlyone hide" attr-filter-type="size">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="148" value="148"/><span>148</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="150" /><span>150</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="152" /><span>152</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="154" /><span>154</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="156" /><span>152</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="158" /><span>158</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="160" /><span>160</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="162" /><span>162</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="164" /><span>164</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="155W" /><span>155W</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="157W" /><span>157W</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="159W" /><span>159W</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="161W" /><span>161W</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="163W" /><span>163W</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title c-listing-filter__dropdown-title--noclose"></div>
              <div class="c-listing-filter__stack c-listing-filter__stack--foot">
                <div class="js-filter-num-select"><span class="num-select-filter">0</span> selected</div>
                <div class="js-filter-clean" attr-master-col="all-snowboards">REMOVE FILTER</div>
              </div>
              </div>
            </div>
          </div>
    
        {% elsif section.settings.filter_type == "apparel_and_others"  %}
    
          <div class="l-listing__aside">
            <div class="c-listing-filter closed">
    
              <div class="c-listing-filter__mob-head closed">
                <span>FILTERS</span>
              </div>
    
              {% comment %} {%- for filter in collection.filters -%}
                <span>{{ filter.label }}</span>
              {%- endfor -%} {% endcomment %}
    
              {% assign tag_list = "" %}
              {%- for current_tag in current_tags -%}
                {% assign tag_list = tag_list | append: current_tag %}
                {% unless forloop.last %}
                  {% assign tag_list = tag_list | append: "|" %}
                {% endunless %}
              {%- endfor -%}
    
              <span class="js-tags-list" data-tags="{{tag_list}}"><span>
    
              <div class="c-listing-filter__dropdown-title js-filter-type" attr-filter-type="category" style="margin-top: -15px;border-top: unset;"><span>Category</span></div>
              <div class="c-listing-filter__stack js-filter-inputs js-filter-inputs-onlyone" attr-filter-type="category">
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="shirt" /><span>T-Shirt</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="hoodie" /><span>Hoodies</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="beanies" /><span>Hats & Beanies</span>
                </label>
                <label class="c-listing-filter__option">
                  <input type="checkbox" name="bags" /><span>Board Bags</span>
                </label>
                <label class="c-listing-filter__option" style="display:none;">
                  <input type="checkbox" name="stickers" /><span>Stickers</span>
                </label>
                <label class="c-listing-filter__option" style="display:none;">
                  <input type="checkbox" name="movies" /><span>Movies</span>
                </label>
              </div>
    
              <div class="c-listing-filter__dropdown-title c-listing-filter__dropdown-title--noclose"></div>
              <div class="c-listing-filter__stack c-listing-filter__stack--foot">
                <div class="js-filter-num-select"><span class="num-select-filter">0</span> selected</div>
                <div class="js-filter-clean" attr-master-col="accessories">REMOVE FILTER</div>
              </div>
    
            </div>
          </div>
    
        {% endif %}
    
        <div class="l-listing__grid l-listing__grid--{{section.settings.filter_type}} l-listing__grid--{{collection.handle}}">
    
          {% assign col_empty_class = "not-empty" %}
    
          {% if collection.products.size == 0 %}
            {% assign col_empty_class = "empty" %}
          {% endif %} 
          <div class="l-listing__grid__empty {{col_empty_class}}">
            <img class="red-logo" src="{{ 'red_logo.png' | asset_url }}" alt="capita empty">
            <span>Please choose a different<br/>filter combination</span>
          </div>
    
          {%- for product in collection.products -%}
            {% assign tag_list = "" %}
            {% for product_tag in product.tags%}
              {% assign tag_list = tag_list | append: "|" | append: product_tag %}
            {% endfor %}
            <div class="c-listing-product" data-tags="{{ tag_list }}" data-title="{{ product.title }}">
              <div class="c-listing-product__image">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: "550x550" }}" alt="Capita | {{ product.title | strip_html }}">
                </a>
              </div>
              <div class="c-listing-product__sizes">
    
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
    
                      {% assign option_name = option.name | downcase %}
    
                      {% if option_name == "size" %}
                        {% for variant in product.variants %}
                          {% if forloop.index < 8 %}
                            <a class="c-listing-product__size {%- if variant.available == false %} is-disabled{% endif %}" attr-variant-id="{{ variant.id }}" href="{{ variant.url }}">{{ variant.title }}</a>
                          {% elsif forloop.index == forloop.length %}
                            <a class="c-listing-product__size is-ghost" href="{{ product.url }}">+ {{ forloop.length | minus: 7 }} more</a>
                          {% endif %}
                        {% endfor %}
                      {% endif%}
    
                  {% endfor %}                
              {% endunless %}
              
              </div>
              <div class="c-listing-product__info">
                <span class="c-listing-product__categories">{{ product.metafields.snowboard_info.snowboard_listing_tag }}</span>
                <span class="c-listing-product__name"><a href="{{ product.url }}">{{ product.title }}</a></span>
                <span class="c-listing-product__price">{{ product.price | money_with_currency }}</span>
                {% comment %} {% if product.type == "Snowboard" %}<div class="c-product-info__reviews-stars"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>{% endif %} {% endcomment %}
              </div>
            </div>
    
          {%- endfor -%}
    
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection settings",
  "settings": [
    {
      "type": "select",
      "id": "filter_type",
      "label": "Filter type",
      "options": [
        {
          "value": "snowboards",
          "label": "Snowboards"
        },
        {
          "value": "apparel_and_others",
          "label": "Appare and other"
        }
      ],
      "default": "snowboards"
    }
  ]
}
{% endschema %}

{% style %}

.c-listing-product.hide {
        display: none;
}
.c-listing-filter__stack {
    height: auto;
    margin-bottom: 0;
    overflow: visible;
    opacity: 1;
    z-index: unset;
    position: relative;
    transition-duration: 0.2s;
}
.c-listing-filter__stack.hide {
    height: 0;
    margin-bottom: -15px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition-duration: 0.2s;
}
.c-listing-filter__stack.c-listing-filter__stack--boxed {
    display: flex;
    flex-wrap: wrap;
}
.c-listing-filter__stack--boxed .c-listing-filter__option {
  position: relative;
  width: max-content;
}
.c-listing-filter__stack--boxed input {
    width: 64px;
    border-radius: 20px;
    appearance: unset;
    aspect-ratio: unset;
    height: 32px;
}
.c-listing-filter__stack--boxed span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.c-listing-filter__dropdown-title.c-listing-filter__dropdown-title--noclose {
    padding: 5px;
}
.c-listing-filter__dropdown-title.c-listing-filter__dropdown-title--noclose:after {
    content: none;
}
.c-listing-filter__stack.c-listing-filter__stack--foot {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.c-listing-filter__stack--boxed .c-listing-filter__option input:checked + span {
  color: #333;
}
.l-listing__grid--apparel_and_others .c-listing-product__image,
.l-listing__grid--softgoods .c-listing-product__image,
.l-listing__grid--accessories .c-listing-product__image,
.l-listing__grid--movies .c-listing-product__image {
    aspect-ratio: 130/150;
}
.js-filter-clean {
  cursor: pointer;
}
.u-bg-black {
    background-image: url(//cdn.shopify.com/s/files/1/0231/7366/0752/files/000_GRID_PAPER_BG_1.png?v=1686394097);
}
.sorting-listing.js-sorting-listing {
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
}
.sorting-listing.js-sorting-listing span {
    cursor: pointer;
    margin: 0 3px;
}
.l-listing__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
span.sorting-option.selected {
  font-weight: 600;
  text-decoration: underline;
}
.l-listing__grid {
    position: relative;
}
.l-listing__grid__empty {
    display: none;
}
.l-listing__grid__empty.empty {
    display: block;
    color: #c8102e;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.l-listing__grid__empty img.red-logo {
  margin: 10px auto;
}
.c-listing-filter__mob-head {
  display: none;
}
span.spr-badge-caption {
    text-decoration: underline;
}
.c-listing-product__image {
    aspect-ratio: 200/327;
}
.c-listing-product__image a img {
  transform: scale(1);
    transition-duration: 0.2s;
}
.c-listing-product__image a:hover img {
  transform: scale(1.05);
    transition-duration: 0.2s;
}
.c-listing-product .c-listing-product__image {
      width: auto;
}
a.c-listing-product__size,
a.c-listing-product__size span {
  text-decoration: none;
}
a.c-listing-product__size:hover,
a.c-listing-product__size:hover span {
  text-decoration: none !important;
  background: #fff;
  color: #000;
}
.c-listing-product__size.is-ghost {
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}
.template-apparel-and-more .js-filter-num-select {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1199px) {
  .l-listing__aside {
    position: absolute;
    margin: 0 15px;
    left: 0;
    top: 260px;
    z-index: 1;
    width: calc(100% - 30px);
  }
  .c-listing-filter__mob-head {
      color: #fff;
      display: flex;
      justify-content: space-between;
      margin: -15px 0 15px 0;
      border-bottom: 1px solid;
      padding-bottom: 15px;
      font-size: 18px;
      line-height: 1;
      align-items: center;
      cursor: pointer;
  }

  .c-listing-filter__mob-head::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 25px;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NyAyNCI+PGNpcmNsZSBjeD0iMTEuNzA2IiBjeT0iMTEuNzA2IiByPSIxMC45MjUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjU2MSIvPjxwYXRoIGQ9Ik0xNi4zODMgMTEuNzA3SDcuMDE4TTExLjcwNyA2LjM4M3YxMC42NDIiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyLjEyOCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGNpcmNsZSBjeD0iMzUuMTE4IiBjeT0iMTEuNzA2IiByPSIxMC45MjUiIHRyYW5zZm9ybT0icm90YXRlKC05MCAzNS4xMTggMTEuNzA2KSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNTYxIi8+PHBhdGggZD0iTTM4LjIzNSA4LjQxOSAzMiAxNU0zMi4yNDIgOC40MTIgMzggMTUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyLjEyOCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50px;
    aspect-ratio: 1 / 1;
  }
  .c-listing-filter__mob-head svg {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid #fff;
      padding: 4px;
      transform: rotate(0deg);
      transition-duration: 0.2s;
  }
  .c-listing-filter__mob-head.closed::after {
    background-position: 0;
  }
  .js-tags-list {
    height: auto;
    transition-duration: 0.2s;
    opacity: 1;
  }
  .js-tags-list.closed {
    height: 0;
    transition-duration: 0.2s;
    opacity: 0;
    display: block;
  }
  .c-listing-filter {
    padding: 30px 15px;
    background: #000;
  }
  .c-listing-filter.closed {
    padding: 0 15px;
    height: 55px;
  }
  .c-listing-filter.closed .js-tags-list {
    display: none;
  }
  .c-listing-filter.closed .js-tags-list span {
    opacity: 0;
    visibility: hidden;
  }
  .c-listing-filter__mob-head.closed {
    border-bottom: none;
    margin-top: 15px;
  }
  .l-listing__grid {
    min-height: 300px;
    padding-top: 100px;
  }
  .l-listing__grid.shadow {
    opacity: 0.5;
    pointer-events: none;
  }
  .l-listing {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .l-listing__aside {
    top: 210px;
    width: calc(100% - 30px);
  }
  .l-listing__grid__empty.empty {
    font-size: 20px;
  }
  .l-listing__grid {
    min-height: 500px;
  }
  .sorting-listing.js-sorting-listing {
    font-size: 12px;
  }
  .c-listing-product__size,
  .c-listing-product__size.is-ghost {
    font-size: 11px;
    white-space: nowrap;
  }
}

{% endstyle %}


{% javascript %}

(function(document) {

  let selectors = {
    filterInputs: '.js-filter-inputs input',
    productItems: '.c-listing-product',
    filtersType: '.js-filter-type',
    filtersInputs: '.js-filter-inputs',
    filterNumSelect: '.js-filter-num-select .num-select-filter',
    tagsListApplied: '.js-tags-list',
    cleanFilter: '.js-filter-clean',
    sortingListing: '.js-sorting-listing .sorting-option',
    emtyMsg: '.l-listing__grid__empty',
    listingFilter: '.c-listing-filter',
    filterMobHead: '.c-listing-filter__mob-head',
    filterMobHeadIconClose: '.c-listing-filter__mob-head svg',
    listingGrid: '.l-listing__grid',
  };

  Shopify.queryParams = {};

  let filterInputs = document.querySelectorAll(selectors.filterInputs)
  let productItems = document.querySelectorAll(selectors.productItems)
  let filtersType = document.querySelectorAll(selectors.filtersType)
  let filtersInputs = document.querySelectorAll(selectors.filtersInputs)
  let filterNumSelect = document.querySelector(selectors.filterNumSelect)
  let tagsListApplied = document.querySelector(selectors.tagsListApplied)
  let cleanFilter = document.querySelector(selectors.cleanFilter)
  let sortingListing = document.querySelectorAll(selectors.sortingListing)
  let emtyMsg = document.querySelector(selectors.emtyMsg)
  let listingFilter = document.querySelector(selectors.listingFilter)
  let filterMobHead = document.querySelector(selectors.filterMobHead)
  let listingGrid = document.querySelector(selectors.listingGrid)

  let uriTagsApplied = false
  let countInputSelected = 0
  let emptyList = false
  let tagListAppliedArray = tagsListApplied.getAttribute("data-tags").split("|")

  // UPDATE COUNTER
  function updateCounter() {
    countInputSelected = 0
    filterInputs.forEach(filterInputCount => {
      if (filterInputCount.checked) {
        countInputSelected++
      }
    })
    filterNumSelect.innerHTML = countInputSelected
  }

  // EMPTY CHECK
  function emptyCheck() {
    let counter = 0
    productItems.forEach(productItem_check => {
      if (productItem_check.classList.contains("hide")) {
        counter++
      }
    })
    if (counter == productItems.length) {
      emtyMsg.classList.add("empty")
    } else {
      emtyMsg.classList.remove("empty")
    }
  }

  window.addEventListener("load", (event) => {

    // START - CHECK TAGS IN URI
    if (tagListAppliedArray[0] != "") {

      uriTagsApplied = true

      tagListAppliedArray.forEach((tagApplied,i) => {

        tagApplied = tagApplied.replace("-"," ").toLowerCase()

        filterInputs.forEach((filterInput_check,i) => {
  
          let filterInput_checkValue = filterInput_check.getAttribute("name").toLowerCase()

          if (filterInput_checkValue == tagApplied) {
  
            filterInput_check.click()
            filterInput_check.closest(".js-filter-inputs").classList.remove("hide")
            let filterTypeValue = filterInput_check.closest(".js-filter-inputs").getAttribute("attr-filter-type")
  
            filtersType.forEach(filtersType_check => {
              let filtersType_checkValue = filtersType_check.getAttribute("attr-filter-type")
              if (filtersType_checkValue == filterTypeValue) {
                filtersType_check.classList.remove("closed")
              }
            })

          }
        })
      })
    } 
    // END - CHECK TAGS IN URI

    
    // START - FILTERING ON COMPLETE LIST
    let filterApply = []

    filterInputs.forEach((filterInput,i) => {

      filterInput.addEventListener("change", function() {

        let filterInputName = filterInput.getAttribute("name").toLowerCase()
        let filterInputsParent = filterInput.closest('.js-filter-inputs')

        if (uriTagsApplied) { // SYNC MODE

          let basePath = window.location.pathname
          let newUrl = ""

          if (filterInput.checked) {

            let currentUrl = window.location.href

            if (filterInputsParent.classList.contains("js-filter-inputs-onlyone")) {
              newUrl = basePath.substring(0, basePath.lastIndexOf('/')) + "/" + filterInputName.toLowerCase().replace(" ","-")
            } else {
              newUrl = basePath + "+" + filterInputName.toLowerCase().replace(" ","-")
            }

          } else {

            let tagRemove = tagListAppliedArray.indexOf(filterInputName)
            tagListAppliedArray.splice(tagRemove,1)
            let newTagList = tagListAppliedArray.toString().toLowerCase().replace(",","+")

            newUrl = basePath.substring(0, basePath.lastIndexOf('/')) + "/" + newTagList

          }

          window.location.replace(newUrl)

        } else { // SEMI-ASYNC MODE

          if (filterInput.checked) {
            
            if (filterInputsParent.classList.contains("js-filter-inputs-onlyone")) {

              filterInputsParentGroup = filterInputsParent.querySelectorAll(".js-filter-inputs input")

              filterInputsParentGroup.forEach((inputDeselect,i) => {
                let inputDeselectName = inputDeselect.getAttribute("name").toLowerCase()
                if (inputDeselectName != filterInputName) {
                  inputDeselect.checked = false
                  let posRemoveSameGroup = filterApply.indexOf(inputDeselectName)
                  if (posRemoveSameGroup != -1) {
                    console.log("inputDeselectName: "+inputDeselectName)
                    console.log("filterApply: "+filterApply)
                    console.log("posRemoveSameGroup: "+posRemoveSameGroup)
                    filterApply.splice(posRemoveSameGroup,1)
                  }
                }
              })

            } 

            filterApply.push(filterInputName)

          } else {
            let posRemove = filterApply.indexOf(filterInputName)
            filterApply.splice(posRemove,1)
          }

console.log(filterApply)

          productItems.forEach((productItem,i) => {

            let prodTags = productItem.getAttribute("data-tags").toLowerCase()
            let prodTitle = productItem.getAttribute("data-title")
            let prodTagsArray = prodTags.split("|")
            let productHide = true

            if (filterApply.length > 0 ) {

              let containsAllTags = filterApply.every(filterApplyItem => {
                return prodTagsArray.includes(filterApplyItem);
              });

              if (containsAllTags) {
                productHide = false
              }

            } else {
              productHide = false
            }

            if (productHide) {
              productItem.classList.add("hide")
            } else {
              productItem.classList.remove("hide")
            }

          })
        }

        updateCounter()
        emptyCheck()

      })

          
    })
    // END - FILTERING ON COMPLETE LIST


    // START - FILTER BOXES
    filtersType.forEach((filterType,i) => {
      filterType.addEventListener("click", function(){

          let filterTypeType = filterType.getAttribute("attr-filter-type")

          if (filterType.classList.contains("closed")) {

            filterType.classList.remove("closed")
            filtersInputs.forEach(filterInputs => {
              if (filterInputs.getAttribute("attr-filter-type") == filterTypeType) {
                filterInputs.classList.remove("hide")
              }
            })

          } else {
            
            filterType.classList.add("closed")
            filtersInputs.forEach(filterInputs => {
              if (filterInputs.getAttribute("attr-filter-type") == filterTypeType) {
                filterInputs.classList.add("hide")
              }
            })

          }

      })
    })
    // END - FILTER BOXES

    
    // START - CLEAN FILTER
    cleanFilter.addEventListener("click", function(){
      let masterCol = cleanFilter.getAttribute("attr-master-col")
      window.location.replace(window.location.origin + "/collections/" + masterCol)
    })
    // END - CLEAN FILTER


    // START - SORTING
    sortingListing.forEach(sortingElement => {
      sortingElement.addEventListener("click", function(){
        let sortValue = sortingElement.getAttribute("value")
        Shopify.queryParams.sort_by = sortValue;
        location.search = new URLSearchParams(Shopify.queryParams).toString();
      })
    })
    // END - SORTING

    updateCounter()
    emptyCheck()

  })

  // START - FILTERS MOB

  function checkMobFilter() {
    if ( window.innerWidth < 1200) {
      filterMobHead.classList.add("closed")
      listingFilter.classList.add("closed")
      tagsListApplied.classList.add("closed")
    }
  }
  window.addEventListener('load', function(event) {
    checkMobFilter()
  }, true);
  
  // window.addEventListener('resize', function(event) {
  //   checkMobFilter()
  // }, true);

  filterMobHead.addEventListener("click", function(){
    if (filterMobHead.classList.contains("closed")) {
      filterMobHead.classList.remove("closed")
      listingFilter.classList.remove("closed")
      tagsListApplied.classList.remove("closed")
      listingGrid.classList.add("shadow")
    } else {
      filterMobHead.classList.add("closed")
      listingFilter.classList.add("closed")
      tagsListApplied.classList.add("closed")
      listingGrid.classList.remove("shadow")
    }
  })
  // END - FILTERS MOB

})(document);


{% endjavascript %}