<div class="section-main-page">

  {% if section.settings.enable_head %}
    <div class="main-page">
      <h1>
        {% if section.settings.title != blank %}
          {{ section.settings.title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      <div class="main-page_description">
        {{ page.content }}
      </div>
    </div>
  {% endif %}

  <div class="vertical-nav">
    {% for block in section.blocks %}
        <div class="vertical-nav__item {% if block.settings.selected %}selected{% endif %}">
            <a href="{{ block.settings.link_url }}">{{ block.settings.link_text }}</a>
        </div>
    {% endfor%}
  </div>
  
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-page",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_head",
      "label": "Enable head (title and description)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title (instead of default title)"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
        },
        {
            "type": "url",
            "id": "link_url",
            "label": "Link Url"
        },
        {
            "type": "checkbox",
            "id": "selected",
            "label": "Selected"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
.vertical-nav {
    display: flex;
    flex-direction: column;
}
.vertical-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 30px;
    width: 335px;
}
.vertical-nav__item a {
    padding: 20px 10px;
}
.vertical-nav__item.selected {
    background: #000;
    color: #fff;
}


{% endstylesheet %}