<div class="pdp-head-image">
  {% liquid 
    if product.metafields.snowboard_intro.background_image_new 
      assign background_image = product.metafields.snowboard_intro.background_image_new 
    else
      assign background_image = "https://placehold.co/1920x600/000000/000"
    endif
  -%}
  <img src="{{ background_image }}" alt="Capita | {{ product.title | strip_html }}">
  <h1>{{ product.title }}</h1>
</div>

<main class="main-page">

  <div class="c-product-gallery js-product-gallery">
    <div class="swiper">
      <div class="swiper-wrapper">

        {% for media in product.media %}
          {%- assign img_url = media | image_url: width: 1024 -%}
          {%- assign img_url__attr = media | image_url: width: 100, height: 100 -%}
          <div class="swiper-slide">
            <div class="c-product-gallery__item" 
              attr-img-url="{{ img_url__attr }}" 
              attr-num="{{ forloop.index0 }}">
              <img class="js-product-gallery-item" src="{{ img_url }}" alt="{{ product.title | strip_html }}" />
            </div>
          </div>
      {% endfor %}

      </div>
      <button class="c-product-gallery__close js-product-gallery-close" type="button"><svg viewBox="0 0 41 41"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20.5" cy="20.5" r="19.5" stroke="black" stroke-width="2" />
          <path d="M26.2969 14.7017L14.6842 26.2821" stroke="black" stroke-width="2" stroke-linecap="round" />
          <path d="M26.2969 26.2983L14.7164 14.6857" stroke="black" stroke-width="2" stroke-linecap="round" />
        </svg>

      </button>
      <button class="c-product-gallery__nav is-prev js-product-gallery-prev" type="button"><svg viewBox="0 0 36 53"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.7109 9.99984L10 26.3654L25.7109 42.731" stroke="black" stroke-width="2" stroke-linecap="round" />
        </svg>

      </button>
      <button class="c-product-gallery__nav is-next js-product-gallery-next" type="button"><svg viewBox="0 0 36 53"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 9.99984L25.7109 26.3654L10 42.731" stroke="black" stroke-width="2" stroke-linecap="round" />
        </svg>

      </button>
    </div>
  </div>


  <div class="c-product">
    <div class="c-product__content js-product-slider">
      <div class="c-product__thumbs">
        <button class="c-product__thumb-nav-prev js-thumb-product-slider-prev" type="button"><svg viewBox="0 0 37 28"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 17.92L18.25 10L26.5 17.92" stroke="black" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="c-product__thumbs-slider swiper js-product-slider-thumbs">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              {%- assign img_url = media | image_url: width: 1024 -%}
              {%- assign img_url__attr = media | image_url: width: 100, height: 100 -%}
              <div class="swiper-slide c-product__thumb" 
                attr-img-url="{{ img_url__attr }}" 
                attr-num="{{ forloop.index0 }}"
                >
                <img src="{{ img_url }}" alt="{{ product.title | strip_html }}" />
              </div>
            {% endfor %}
          </div>
        </div>
        <button class="c-product__thumb-nav-next js-thumb-product-slider-next" type="button"><svg viewBox="0 0 37 29"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 10.9511L18.25 18.8711L26.5 10.9511" stroke="black" stroke-width="2" stroke-linecap="round" />
          </svg>

        </button>
      </div>
      <div class="c-product__main swiper js-product-slider-main">
        <button class="c-product__main-magnify js-main-product-magnify" type="button"><svg viewBox="0 0 19 20"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.8976 6.81592H8.17647V4.09481C8.17647 3.91439 8.1048 3.74135 7.97722 3.61378C7.84965 3.4862 7.67662 3.41453 7.49619 3.41453C7.31577 3.41453 7.14274 3.4862 7.01517 3.61378C6.88759 3.74135 6.81592 3.91439 6.81592 4.09481V6.81592H4.09481C3.91439 6.81592 3.74135 6.88759 3.61378 7.01517C3.4862 7.14274 3.41453 7.31577 3.41453 7.49619C3.41453 7.67662 3.4862 7.84965 3.61378 7.97722C3.74135 8.1048 3.91439 8.17647 4.09481 8.17647H6.81592V10.8976C6.81592 11.078 6.88759 11.251 7.01517 11.3786C7.14274 11.5062 7.31577 11.5779 7.49619 11.5779C7.67662 11.5779 7.84965 11.5062 7.97722 11.3786C8.1048 11.251 8.17647 11.078 8.17647 10.8976V8.17647H10.8976C11.078 8.17647 11.251 8.1048 11.3786 7.97722C11.5062 7.84965 11.5779 7.67662 11.5779 7.49619C11.5779 7.31577 11.5062 7.14274 11.3786 7.01517C11.251 6.88759 11.078 6.81592 10.8976 6.81592ZM18.8636 17.8976L13.2445 12.2581C14.4724 10.7766 15.0824 8.87908 14.9478 6.9596C14.8132 5.04013 13.9443 3.24627 12.5217 1.95063C11.0991 0.654986 9.23211 -0.0428596 7.30845 0.00203965C5.38478 0.0469389 3.55234 0.831132 2.19174 2.19174C0.831132 3.55234 0.0469389 5.38478 0.00203965 7.30845C-0.0428596 9.23211 0.654986 11.0991 1.95063 12.5217C3.24627 13.9443 5.04013 14.8132 6.9596 14.9478C8.87908 15.0824 10.7766 14.4724 12.2581 13.2445L17.8772 18.8636C18.0074 18.9751 18.1748 19.0333 18.346 19.0267C18.5172 19.0201 18.6796 18.9491 18.8008 18.828C18.9219 18.7068 18.9929 18.5444 18.9995 18.3732C19.0061 18.202 18.9479 18.0346 18.8364 17.9044L18.8636 17.8976ZM1.3737 7.49619C1.3737 6.28528 1.73277 5.10156 2.40552 4.09472C3.07827 3.08788 4.03447 2.30314 5.15322 1.83974C6.27196 1.37635 7.50299 1.2551 8.69063 1.49134C9.87828 1.72758 10.9692 2.31069 11.8255 3.16693C12.6817 4.02318 13.2648 5.11411 13.5011 6.30175C13.7373 7.4894 13.616 8.72043 13.1526 9.83917C12.6892 10.9579 11.9045 11.9141 10.8977 12.5869C9.89083 13.2596 8.70711 13.6187 7.49619 13.6187C5.87241 13.6187 4.31512 12.9736 3.16693 11.8255C2.01874 10.6773 1.3737 9.11998 1.3737 7.49619Z"
              fill="black" />
          </svg>
        </button>
        <div class="swiper-wrapper">

          {% for media in product.media %}
            {%- assign img_url = media | image_url: width: 1024 -%}
            {%- assign img_url__attr = media | image_url: width: 100, height: 100 -%}
        
            <div class="swiper-slide" 
              attr-img-url="{{ img_url__attr }}" 
              attr-num="{{ forloop.index0 }}"
              >
              <img src="{{ img_url }}" alt="{{ product.title | strip_html }}">
            </div>
          {% endfor %}

        </div>
        <button class="c-product__main-nav-prev js-main-product-slider-prev" type="button"><svg viewBox="0 0 28 37"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.9122 10L9.99219 18.25L17.9122 26.5" stroke="black" stroke-width="2" stroke-linecap="round" />
          </svg>

        </button>
        <button class="c-product__main-nav-next js-main-product-slider-next" type="button"><svg viewBox="0 0 28 37"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0058 10L17.9258 18.25L10.0058 26.5" stroke="black" stroke-width="2" stroke-linecap="round" />
          </svg>

        </button>
        <div class="swiper-pagination c-product__main-pagination js-main-product-pagination"></div>
      </div>

      {% include 'product-form' %}

    </div>
  </div>
      
  <div class="c-find-my-size js-find-my-size">
    <div class="c-find-my-size__bg js-find-my-size-bg"></div>
    <div class="c-find-my-size__content js-find-my-size-content">
      <div class="c-find-my-size__top-buttons">
        <button class="c-find-my-size__restart" type="button"><svg fill="none" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15 15">
            <circle cx="7.5" cy="7.5" r="7" stroke="#000" />
            <path
              d="M7.482 10.999c-1.6-.034-2.93-1.414-2.98-3.05-.052-1.77 1.345-3.236 3.066-3.236V3.657c0-.136.153-.205.255-.12L9.39 4.884c.12.103.12.273 0 .375L7.823 6.604a.154.154 0 0 1-.255-.12V5.429c-1.33 0-2.402 1.108-2.385 2.488.017 1.294 1.09 2.384 2.35 2.401 1.33 0 2.42-1.09 2.42-2.453 0-.357-.086-.698-.222-1.005-.068-.136-.017-.306.102-.409a.335.335 0 0 1 .528.12c.17.391.273.834.273 1.294 0 1.755-1.414 3.186-3.151 3.135Z"
              fill="#000" /></svg></button>
        <button class="c-find-my-size__close js-find-my-size-close" type="button"><svg fill="none" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15 15">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.605 14.105a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15Z"
              fill="#000" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.08 5.132a.5.5 0 0 1 0 .707l-4.243 4.243a.5.5 0 1 1-.707-.707l4.243-4.243a.5.5 0 0 1 .707 0Z"
              fill="#000" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4.842 4.84a.5.5 0 0 1 .707 0l4.821 4.822a.5.5 0 1 1-.707.707L4.842 5.548a.5.5 0 0 1 0-.707Z"
              fill="#000" /></svg></button>
      </div><span class="c-find-my-size__title" style="display: none">Enter your information:</span>
      <form class="c-find-my-size__input" style="display: none">
        <div class="c-select-size js-select-size"><span class="c-select-size__label">Your height:</span>
          <div class="c-select-size__switch">
            <button class="is-active" type="button">cm</button>
            <button type="button">in</button>
          </div>
          <select class="c-select-size__select">
            <option value="120">120 cm</option>
            <option value="120">110 in</option>
          </select>
        </div>
        <div class="c-select-size js-select-size"><span class="c-select-size__label">Your height:</span>
          <div class="c-select-size__switch">
            <button class="is-active" type="button">cm</button>
            <button type="button">in</button>
          </div>
          <select class="c-select-size__select">
            <option value="120">120 cm</option>
            <option value="120">110 in</option>
          </select>
        </div>
        <div class="c-select-size js-select-size"><span class="c-select-size__label">Your height:</span>
          <div class="c-select-size__switch">
            <button class="is-active" type="button">cm</button>
            <button type="button">in</button>
          </div>
          <select class="c-select-size__select">
            <option value="120">120 cm</option>
            <option value="120">110 in</option>
          </select>
        </div>
        <button class="c-find-my-size__submit" type="submit">find my size</button>
      </form><span class="c-find-my-size__title">The best choices for you are:</span>
      <form class="c-find-my-size__choices" style="--choices: 2">
        <label class="c-find-my-size__choice"><img src="https://via.placeholder.com/132x332" alt="alt" />
          <input type="radio" name="name" /><span class="c-find-my-size__choice-button">152</span>
        </label>
        <label class="c-find-my-size__choice"><img src="https://via.placeholder.com/132x332" alt="alt" />
          <input type="radio" name="name" /><span class="c-find-my-size__choice-button">154</span>
        </label>
        <p class="c-find-my-size__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="c-find-my-size__submit disabled" type="submit">find my size</button>
      </form>
    </div>
  </div>

  {% if template.suffix == "snowboards" %}
    {% include 'pdp-snowboard' %}
  {% else %}
    {% include 'pdp-apparels' %}
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>

</main>

{% style %}
p.c-product-info__description {
    line-height: 1.2;
}
.c-product-info__reviews-stars {
    margin: 30px 0;
}
span.spr-badge-caption {
    font-weight: 600;
    margin-left: 7px;
    text-decoration: underline;
}
button.js-add-to-cart.c-product-info__add-to-cart {
    margin-top: 70px;
}
.c-spec__value {
    font-size: 21px;
}
.c-product-tech__video {
    margin-top: 40px;
}
@media screen and (min-width: 75em) {
  .c-product-tech__specs {
      grid-gap: 30px;
  }
}
{% endstyle %}

{% javascript %}

(function(document) {

  let selectors = {
    productVariants: '.js-product-variant:not(.is-disabled)',
    submitButton: '.js-add-to-cart',
    cartTrigger: '.is-cart',
    cartBtnsMinus: '.cart-qnt-btn-minus',
    cartBtnsPlus: '.cart-qnt-btn-plus',
    cartItems: '.c-cart-item',
    cartItemsLine: '.c-header-cart__line',
    cartItemsTot: '.c-cart-item__quantity-tot',
    cartSummary: '.c-header-cart__summary',
    msgEmptyCart: '.msg-empty-cart',
    cartCount: '.js-cart-count',
    cartInfoHidden: '#cart-info-hidden',
  };

  let productVariants = document.querySelectorAll(selectors.productVariants)
  let submitButton = document.querySelector(selectors.submitButton)
  let cartTrigger = document.querySelector(selectors.cartTrigger)
  let cartBtnsMinus = document.querySelectorAll(selectors.cartBtnsMinus)
  let cartBtnsPlus = document.querySelectorAll(selectors.cartBtnsPlus)
  let cartItems = document.querySelectorAll(selectors.cartItems)
  let cartItemsLine = document.querySelectorAll(selectors.cartItemsLine)
  let cartItemsTot = document.querySelectorAll(selectors.cartItemsTot)
  let cartSummary = document.querySelector(selectors.cartSummary)
  let msgEmptyCart = document.querySelector(selectors.msgEmptyCart)
  let cartCount = document.querySelector(selectors.cartCount)
  let cartInfoHidden = document.querySelector(selectors.cartInfoHidden)

  let itemList = { "items" : [], 'sections': 'cart-ajax' }

  window.addEventListener("load", (event) => {

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let paramOpenCart = urlParams.get('opencart')
    if (paramOpenCart == "true") {
        cartTrigger.click()
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo({
            top: scrollpos,
            behavior: "smooth",
          });
    }

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };




    productVariants.forEach((productVariant,i) => {

      productVariant.addEventListener("click", (e) => {

        itemList.items = []

        productVariants.forEach((productVariant__clean) => {
          productVariant__clean.classList.remove("selected")
        })

        if ( productVariant.classList.contains("selected") ) {
          productVariant.classList.remove("selected")
        } else {
          productVariant.classList.add("selected")
        }

        let productVariant__id = productVariant.querySelector("input").getAttribute("variant-id")

        jsonVariant = {
          'id': productVariant__id,
          'quantity': 1
        }
        itemList.items.push(jsonVariant)

      }, false)
          
    })

    submitButton.addEventListener("click", (e) => {

      submitButton.classList.add("disabled")
      cartSummary.classList.remove("hide")
      
      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(itemList)
      }).then(response => {
        return response.json();
      }).then(data => {

        // console.log(data);

        submitButton.classList.remove("disabled")
        
        let disablePlus = false

        reloadCart(disablePlus)

      }).catch((error) => {
        console.error('Error:', error);
      });

    }, false)

    function changeCart(changeVariant, cartBtnVariation, limit) {
      fetch('/cart/change.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(changeVariant)
        }).then(response => {
          return response.json();
        }).then(data => {
          
          // console.log(data);
          // console.log(data.total_price);
          // console.log(data.items);

          // Reloat Cart Total
          let newTotal = (parseInt(data.total_price)).toFixed(2) / 100
          let cartTotal = document.querySelector(".c-header-cart__total")
          let cartTotalVal = cartTotal.querySelector(".c-header-cart__total__val")
          let currentCurency = cartTotal.getAttribute("data-currency")
          cartTotalVal.innerHTML = currentCurency + newTotal
          
          // Remove Item = 0
          if (changeVariant.quantity == 0) {
            document.querySelector('.c-cart-item[data-id="'+changeVariant.id+'"]').remove()
          }

          // Reload page if empty cart
          if (data.item_count == 0) {
            location.assign(location.protocol + '//' + location.host + location.pathname)
            return;
          }

          // Reset all cart items quantity
          data.items.forEach((cartItem,i) => {

            let currentItem = document.querySelector('.c-cart-item[data-id="'+cartItem.id+'"]')
            let btnMinus = currentItem.querySelector(".cart-qnt-btn-minus")
            let btnPlus = currentItem.querySelector(".cart-qnt-btn-plus")

            currentItem.querySelector(".c-cart-item__quantity-tot").innerHTML = cartItem.quantity
            btnMinus.setAttribute("data-qnt", cartItem.quantity - 1)
            if (cartItem.quantity == limit) {
              btnPlus.classList.add("disabled")
            } else {
              btnPlus.classList.remove("disabled")
              btnPlus.setAttribute("data-qnt", cartItem.quantity + 1)
            }
            
          })

          // Re-enable btn variation
          cartBtnVariation.classList.remove("disable")
          
        }).catch((error) => {
          console.error('Error:', error);
        });
    }

    listenerMinus(cartBtnsMinus)

    function listenerMinus(cartBtnsMinus) {

      cartBtnsMinus.forEach((cartBtnMinus,i) => {
        cartBtnMinus.addEventListener("click", (e) => {

          cartBtnMinus.classList.add("disable")

          let dataID = cartBtnMinus.getAttribute("data-id")
          let dataQnt = cartBtnMinus.getAttribute("data-qnt")

          let currentItem = document.querySelector('.js-cart-item-limit[data-id="'+dataID+'"]')
          let currentLimit = currentItem.getAttribute("data-limit")
          let currentLimit__qnt = parseInt(currentLimit)

          let changeVariant = {
                'id': dataID,
                'quantity': dataQnt
              }

          changeCart(changeVariant, cartBtnMinus, currentLimit__qnt)

        }, false)
      })

    }

    listenerPlus(cartBtnsPlus) 
    
    function listenerPlus(cartBtnsPlus) {
      cartBtnsPlus.forEach((cartBtnPlus,i) => {
        cartBtnPlus.addEventListener("click", (e) => {

          cartBtnPlus.classList.add("disable")

          let dataID = cartBtnPlus.getAttribute("data-id")
          let dataQnt = cartBtnPlus.getAttribute("data-qnt")

          // console.log(dataID)

          let currentItem = document.querySelector('.js-cart-item-limit[data-id="'+dataID+'"]')
          let currentLimit = currentItem.getAttribute("data-limit")
          let currentLimit__qnt = parseInt(currentLimit)

          // console.log(currentLimit__qnt)

          let changeVariant = {
                'id': dataID,
                'quantity': dataQnt
              }

          changeCart(changeVariant, cartBtnPlus, currentLimit__qnt)

        }, false)
      })
    }


    function reloadCart(disablePlus) {

      fetch('/cart.js', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        return response.json();
      }).then(data => {

        console.log(data); // prints HTML of the section 

        let cartAjax = document.querySelector('#cart-ajax')
        cartAjax.innerHTML = ""

        // console.log(data.items)
        // console.log(data.item_count)
        
        uploadCartCount(data.item_count)
        resetCartHidden(data.items)

        data.items.forEach((cartItem,i) => {

          let quantityMinus = cartItem.quantity - 1
          let quantityPlus = cartItem.quantity + 1
          let disablePlusClass = ""

          let cartTotal = document.querySelector(".c-header-cart__total")
          let cartTotalVal = cartTotal.querySelector(".c-header-cart__total__val")
          let currentCurency = cartTotal.getAttribute("data-currency")

          let finalPrice = (currentCurency + (cartItem.final_price / 100))
          // let finalPrice = (currentCurency + (cartItem.final_price / 100)).toFixed(2)

          if (disablePlus) {
            let disablePlusClass = "disabled"
          }

          var divCartItem = document.createElement('div');
          divCartItem.setAttribute('class', 'c-cart-item');
          divCartItem.setAttribute('data-id', cartItem.id);

          divCartItem.innerHTML = `
                    <div class="c-cart-item__container">
                        <a href="`+cartItem.url+`">
                            <img class="c-cart-item__image" src="`+cartItem.image+`" alt="`+cartItem.title+`">
                        </a>
                        <div class="c-cart-item__info"><span>`+cartItem.title+`</span>
                        </div>
                        <div class="c-cart-item__quantity">

                            <button 
                                class="c-cart-item__quantity-btn cart-qnt-btn-minus" 
                                type="button" 
                                data-id="`+cartItem.id+`" 
                                data-qnt="`+quantityMinus+`" >
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="19.5" cy="19.5" r="7" stroke="white" /><path d="M22.498 19.5H16.498" stroke="white" stroke-linecap="round" /></svg>
                            </button>
                            
                            <span class="c-cart-item__quantity-tot">`+cartItem.quantity+`</span>
                            
                            <button 
                                class="c-cart-item__quantity-btn cart-qnt-btn-plus `+disablePlusClass+`" 
                                type="button" 
                                data-id="`+cartItem.id+`" 
                                data-qnt="`+quantityPlus+`" >
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="19.5" cy="19.5" r="7" stroke="white" /><path d="M22.498 19.5H16.498" stroke="white" stroke-linecap="round" /><path d="M19.5 16.0898V22.908" stroke="white" stroke-linecap="round" /></svg>
                            </button>

                        </div>
                        <span class="c-cart-item__price">`+finalPrice+`</span>
                    </div>

                    <div class="c-header-cart__line"></div>
          `

          cartAjax.append(divCartItem)
          msgEmptyCart.classList.add("hide")
          
        })
        
        if (!cartTrigger.classList.contains("is-active")) {
          setTimeout(() => {
            cartTrigger.click()
          }, 250);
        }

        cartBtnsMinus = cartAjax.querySelectorAll(selectors.cartBtnsMinus)
        cartBtnsPlus = cartAjax.querySelectorAll(selectors.cartBtnsPlus)

        listenerMinus(cartBtnsMinus)
        listenerPlus(cartBtnsPlus)

      }).catch((error) => {
        console.error('Error:', error);
      });
      return;

    }

    function uploadCartCount(count) {
      if (parseInt(count) > 0) {
        cartCount.innerHTML = count
        cartCount.classList.remove("hide")
      } else {
        cartCount.innerHTML = ""
        cartCount.classList.add("hide")
      }
    }


    function resetCartHidden(cartItems) {
      cartInfoHidden.innerHTML = ""
      cartItems.forEach((cartItem,i) => {
        let cartHiddenEl = document.createElement('span')
        cartHiddenEl.setAttribute('class', 'js-cart-item-limit');
        cartHiddenEl.setAttribute('data-id', cartItem.id);
        cartHiddenEl.setAttribute('data-limit', "99");
        cartInfoHidden.append(cartHiddenEl)
      })
    }

  })





  })(document);



{% endjavascript %}




{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "price_tag",
          "info": "t:sections.main-product.blocks.complementary_products.settings.icon.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3,
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_per_page.label"
        },
        {
          "type": "select",
          "id": "pagination_style",
          "options": [
            {
              "value": "dots",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_1"
            },
            {
              "value": "counter",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_2"
            },
            {
              "value": "numbers",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_3"
            }
          ],
          "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.label",
          "default": "counter"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.complementary_products.settings.product_card.heading"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "portrait",
              "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_1"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_2"
            }
          ],
          "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.label",
          "default": "square"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "label": "t:sections.main-product.blocks.complementary_products.settings.enable_quick_add.label",
          "default": false
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "heart",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "return",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "truck",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
        },
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
        },
        {
          "value": "thumbnail_slider",
          "label": "t:sections.main-product.settings.gallery_layout.options__4.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.media_position.label",
      "info": "t:sections.main-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label",
      "info": "t:sections.main-product.settings.image_zoom.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "show",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__3.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}