
{% if section.settings.head_width == 75 %}
  {% assign float_style = "float: right;"%}
{% else %}
  {% assign float_style = ""%}
{% endif %}

<div class="section-main-page" style="{{float_style}} width: {{ section.settings.head_width }}%; margin-top: {{ section.settings.margin_top }}px">
  {% if section.settings.enable_head %}
    <div class="main-page">
      <h1>
        {% if section.settings.title != blank %}
          {{ section.settings.title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      <div class="main-page_description">
        {% if section.settings.description != blank %}
          {{ section.settings.description }}
        {% else %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

<style>
  {% if section.settings.body_color != blank %}
    body {
      background-color: {{ section.settings.body_color }};
    }
  {% endif %}
  {% if section.settings.footer_border %}
    main#MainContent {
      border-bottom: 1px solid #000;
      padding-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      main#MainContent {
        padding-bottom: 40px;
      }
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "shopify-section--main-page four-quarter",
  "settings": [
    {
      "type": "number",
      "id": "head_width",
      "label": "Head Width",
      "default": 100,
      "info": "For Vertical Nav use 75%"
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "color",
      "id": "body_color",
      "label": "Body Color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "footer_border",
      "label": "Footer Border"
    },
    {
      "type": "checkbox",
      "id": "enable_head",
      "label": "Enable head (title and description)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title (instead of default title)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (instead of default description)"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.section-main-page {
    margin-bottom: 40px;
}
.main-page h1 {
  font-family: "Calibre";
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section-main-page {
    margin-top: 0 !important;
    margin-bottom: 28px;
  }
}
{% endstylesheet %}