{% if section.settings.boxed_small %} 
    {% assign boxed_small_class = "boxed-small" %}
{% else %}
    {% assign boxed_small_class = "" %}
{% endif %}

<div class="section-paragraph-simple" style="padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;">
    <div class="paragraph-simple-content {{boxed_small_class}}">
        <h2 class="paragraph-simple-content__title strong" style="color: {{ section.settings.text_color }}">{{ section.settings.title }}</h2>
        <div class="paragraph-simple-content__paragraph" style="color: {{ section.settings.text_color }}">{{ section.settings.text }}</div>
    </div>
</div>

<style>
    .paragraph-simple-content__title {
        font-size: {{ section.settings.font_size_title }}px;
    }
    @media screen and (max-width: 768px) {
        .paragraph-simple-content__title {
            font-size: {{ section.settings.font_size_title_mob }}px;
        }
    }
</style>

{% schema %}
  {
    "name": "Paragraph Simple",
    "settings": [
        {
            "type": "number",
            "id": "padding_top",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": 20
        },
        {
            "type": "number",
            "id": "font_size_title",
            "label": "Font Size Title",
            "default": 80
        },
        {
            "type": "number",
            "id": "font_size_title_mob",
            "label": "Font Size Title Mob",
            "default": 36
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "checkbox",
            "id": "boxed_small",
            "label": "Boxed Small"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ],
    "presets": [
        {
            "name": "Paragraph Simple"
        }
    ]
  }
{% endschema %}


{% stylesheet %}

hl {
    background: #e2ff61;
}
.paragraph-simple-content {
    text-align: center;
    max-width: 1620px;
    margin: 0 auto;
}
.paragraph-simple-content.boxed-small {
    max-width: 960px;
    margin: 0 auto;
}
.paragraph-simple-content__title {
    text-align: center;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.paragraph-simple-content__paragraph {
    max-width: 750px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .paragraph-simple-content__title {
        margin-top: 0;
    }
    .section-paragraph-simple {
        padding: 40px 20px !important;
    }
    
}

{% endstylesheet %}
