
<div class="section-paragraph-simple section-paragraph-simple--{{ section.id }}"
    style=" padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
            {% if section.settings.background_transparent %} background: transparent; {% endif %}
            ">
    <div class="u-container">
        <div class="u-content">
            <div class="paragraph-simple-content">
                <h2 class="paragraph-simple-content__title strong o-text is-2 nocase u-color-white">{{ section.settings.title }}</h2>
                {% if section.settings.image_bottom %}
                <img class="paragraph-simple-image-bottom" src="{{ section.settings.image_bottom | image_url }}"
                    alt="{{ section.settings.title | strip_html }}">
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="paragraph-simple-content__paragraph o-text is-4 is-regular u-color-white">{{ section.settings.text }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
"name": "Paragraph Simple",
"settings": [
    {
        "type": "checkbox",
        "id": "background_transparent",
        "label": "Background Transparent",
        "default": false
    },
{
"type": "number",
"id": "padding_top",
"label": "Padding Top",
"default": 20
},
{
"type": "number",
"id": "padding_bottom",
"label": "Padding Bottom",
"default": 20
},
{
"type": "number",
"id": "font_size_title",
"label": "Font Size Title"
},
{
"type": "number",
"id": "font_size_title_mob",
"label": "Font Size Title Mob"
},
{
"type": "html",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "image_picker",
"id": "image_bottom",
"label": "Image Bottom"
}
],
"presets": [
{
"name": "Paragraph Simple"
}
]
}
{% endschema %}


{% stylesheet %}

.section-paragraph-simple {
    background: #000;
}
.paragraph-simple-content {
text-align: center;
max-width: 1620px;
margin: 0 auto;
}
.paragraph-simple-content__title {
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
}
.paragraph-simple-content__paragraph {
margin: 40px auto 0 auto;
}
.paragraph-simple-image-bottom {
width: 100%;
max-width: 1380px;
margin: 80px auto;
display: block;
}

@media screen and (max-width: 768px) {
.paragraph-simple-content__title {
margin-top: 0;
}
.section-paragraph-simple {
padding: 40px 0 !important;
}
.paragraph-simple-image-bottom {
margin: 30px auto;
}
}

{% endstylesheet %}