{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '"'
    | first
    | split: '.myshopify.com'
    | last
    | replace: '\/', '/'
    | replace: '%20', ' '
    | replace: '\u0026', '&'
    | split: 'localpos=' | last
  -%}
  {% capture paramUrlLocal %}{{ pageUrl }}{% endcapture %}

<div class="select-location-container" data-link="{{ paramUrlLocal }}">
    <div class="select-location-content">

        {% if paramUrlLocal != "no-local" %}
            <div class="current-location">
                <h5 class="medium">Your Location</h5>
                <div class="single-country small">
                    {% if localization.country.iso_code == "IT" %}
                        <a class="single-country__name small" href="/">
                            {{ localization.country | image_url: width: 32 | image_tag }} {{ localization.country }}
                        </a>
                    {% else %}
                        <a class="single-country__name small" href="/{{ localization.country.available_languages[0].iso_code }}-{{ localization.country.iso_code | downcase }}">
                            {{ localization.country | image_url: width: 32 | image_tag }} {{ localization.country }}
                        </a>
                    {% endif %}
                    {% if localization.available_languages.size > 1 %}
                        <div class="single-country__langs small">
                            {% for av_lang in localization.available_languages %}
                                <a class="single-country__langs__link {% if localization.language.iso_code == av_lang.iso_code %}actual-language{% endif %}" href="{{ av_lang.root_url }}">{{ av_lang.name }}</a> {% unless forloop.last %}|{% endunless -%}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endif %}
        <h5 class="medium">Europe</h5>
        <div class="europe-location">
            {% for country in localization.available_countries -%}
                <div class="single-country">
                    {% if country.iso_code == "IT" %}
                        <a class="single-country__name small" href="/">
                            {{ country | image_url: width: 32 | image_tag }}
                            {{ country }}
                        </a>
                    {% else %}
                        <a class="single-country__name small" href="/{{ country.available_languages[0].iso_code }}-{{ country.iso_code | downcase }}">
                            {{ country | image_url: width: 32 | image_tag }}
                            {{ country }}
                        </a>
                    {% endif %}
                    {% if country.available_languages.size > 1 %}
                        <div class="single-country__langs small">
                            {% assign default_lang_iso_code = country.available_languages[0].iso_code | downcase %}
                            {% for av_lang in country.available_languages %}
                                {% if country.iso_code == "IT" %}
                                    {% if av_lang.iso_code == default_lang_iso_code %}
                                        <a class="single-country__langs__link" href="/">{{ av_lang.name }}</a> {% unless forloop.last %}|{% endunless -%}
                                    {% else %}
                                        <a class="single-country__langs__link" href="/{{ av_lang.iso_code }}">{{ av_lang.name }}</a> {% unless forloop.last %}|{% endunless -%}
                                    {% endif %}
                                {% else %}
                                    <a class="single-country__langs__link" href="/{{ av_lang.iso_code }}-{{ country.iso_code | downcase }}">{{ av_lang.name }}</a> {% unless forloop.last %}|{% endunless -%}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {%- endfor %}
        </div>
        <hr>
        <h5 class="medium">North America</h5>
        <div class="europe-location">
            <div class="single-country">
                <a class="single-country__name small" href="https://capitasnowboarding.com/">
                    <img src="//cdn.shopify.com/static/images/flags/us.svg?width=32" alt="United States" srcset="//cdn.shopify.com/static/images/flags/us.svg?width=32 32w" width="32" height="24">
                    United States
                </a>
            </div>
            <div class="single-country">
                <a class="single-country__name small" href="https://capitasnowboarding.com/en-ca">
                    <img src="//cdn.shopify.com/static/images/flags/ca.svg?width=32" alt="Canada" srcset="//cdn.shopify.com/static/images/flags/ca.svg?width=32 32w" width="32" height="24">
                    Canada
                </a>
            </div>
        </div>

        {% comment %} <hr>
        <h5 class="medium">Asia</h5>
        <div class="europe-location">
            <div class="single-country">
                <a class="single-country__name small" href="https://jp.capitasnowboarding.com/">
                    <img src="//cdn.shopify.com/static/images/flags/jp.svg?width=32" alt="Japan" srcset="//cdn.shopify.com/static/images/flags/jp.svg?width=32 32w" width="32" height="24">
                    Japan
                </a>
            </div>
        </div> {% endcomment %}
    </div>

</div>

  
{% schema %}
  {
    "name": "Select Location",
    "presets": [
      {
        "name": "Select Location"
      }
    ]
  }
{% endschema %}
  
{% style %}
.select-location-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
}
.select-location-content .current-location {
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
}
.select-location-content .current-location .single-country__name {
    justify-content: center;
}
.select-location-container hr {
    margin: 15px 0;
}
.single-country {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    min-height: 40px;
}
.single-country__name {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}
.single-country__name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.single-country__langs {
    margin-left: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 170px;
}
.select-location-container img {
    max-height: 15px;
    vertical-align: top;
    margin-right: 7px;
    width: auto;
}
.select-location-container .country-site-selector__actual {
    padding: 1px 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.single-country__langs__link {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.single-country__langs__link.actual-language,
.single-country__langs__link:hover {
    text-decoration: underline;
}
.select-location-container .country-site-selector {
    padding-right: 10px;
    border: none;
    width: auto;
}
.select-location-container .country-site-selector svg {
    position: absolute;
    right: 0px;
}
.select-location-content h5 {
    font-weight: 500;
    color: #000;
}

.country-site-selector select {
    background: transparent;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    border: none;
    padding: 0 0 0 10px;
    width: 100%;
    height: 24px;
}
.select-location-content .europe-location {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
h1 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .select-location-content {
        font-size: 16px;
    }
    .select-location-content .select-location-content {
        max-width: 260px;
    }
    .select-location-content .europe-location {
        display: grid;
        grid-template-columns: 100%;
        max-width: 260px;
        margin: 0 auto;
    }
    .select-location-content h5 {
        max-width: 260px;
        margin: 20px auto;
    } 
    .country-site-selector {
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: 1px solid #dfdfdf;
        border-bottom: none;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .country-site-selector__actual {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .country-site-selector__actual img {
        max-width: 20px;
        margin-right: 10px;
    }
    .country-site-selector svg.icon.icon-chevron-down {
        right: 16px;
        transform: rotate(-90deg) !important;
        display: block;
        width: 14px !important;
    }
    .country-site-selector.opened svg.icon.icon-chevron-down {
        transform: rotate(0deg) !important;
    }
    h1.main-page-title.page-title.h0 {
        font-size: 28px;
    }
    .select-location-content {
        margin-top: 60px;
    }
}
{% endstyle %}