<div class="section-team-list">
  <div class="u-container">
    <div class="u-content">
      <div class="team-list">
        {% for block in section.blocks %}
          <div class="team-list__card">
            {% if section.settings.hide_all_riders_link %}
              <a>
                <img
                  class="team-list__card__image"
                  src="{{ block.settings.image | image_url }}"
                  alt="{{ block.settings.name | strip_html }}"
                >
                <div class="team-list__card__name medium">
                  <span>{{ block.settings.name }}</span>
                </div>
              </a>
            {% else %}
              <a
                href="{{ block.settings.link_url }}"
                {% if section.settings.enable_external_link %}
                  target="_blank"
                {% endif %}
              >
                <img
                  class="team-list__card__image"
                  src="{{ block.settings.image | image_url }}"
                  alt="{{ block.settings.name | strip_html }}"
                >
                <div class="team-list__card__name medium">
                  <span>{{ block.settings.name }}</span>
                </div>
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Team List",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_all_riders_link",
      "label": "Hide all riders link"
    },
    {
      "type": "checkbox",
      "id": "enable_external_link",
      "label": "Enable external link"
    }
  ],
  "blocks": [
    {
      "type": "team_list",
      "name": "Team Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team List"
    }
  ]
}
{% endschema %}

{% stylesheet %}

  #MainContent.template-team {
    background-image: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/files/GRID-BACKGROUND_BLACK_COMPRESS_e53b0bf8-98a4-4a54-aaae-d192aca790a5.jpg?v=1747993855);
    background-position: 94% 11%;
    background-size: 85%;
    background-repeat: repeat;
  }

  .team-list {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-list__card {
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: calc(25% - 20px);
  }
  .team-list__card a {
    text-decoration: none;
  }
  img.team-list__card__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .team-list__card__name {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid #fff;
  }

  @media screen and (max-width: 991px) {
      .paragraph-simple-content__title {
    margin-top: 30px;
  }
    .team-list__card {
      width: calc(50% - 20px);
    }
    img.team-list__card__image {
      height: 175px;
    }
    .team-list__card__name {
      padding: 10px 0;
    }
  }
{% endstylesheet %}
