{% assign video_desk = section.settings.video_desk | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}
{% assign video_mob = section.settings.video_mob | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}

{% if section.settings.boxed %} 
    {% assign boxed_class = "boxed" %}
{% else %}
    {% assign boxed_class = "" %}
{% endif %}

<div class="section-hero-banner-video">
    <div class="hero-banner-video {{ boxed_class }}">

        {% if section.settings.logo_top_left != blank %}
            <img class="hero-banner-video__logo" src="{{ section.settings.logo_top_left | img_url: 'master' }}" alt="capita mothership">
        {% endif %}

        {% if section.settings.title != blank %}
            <div class="u-container">
                <div class="u-content">
                    <h4 class="strong">{{ section.settings.title }}</h4>
                </div>
            </div>
        {% endif %}
        <div class="hero-banner-video__desk">{{video_desk}}</div>
        <div class="hero-banner-video__mob">{{video_mob}}</div>
    </div>
</div>

{% schema %}
  {
    "name": "Hero Banner Video",
    "settings": [
        {
            "type": "checkbox",
            "id": "boxed",
            "label": "Boxed"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "logo_top_left",
            "label": "Logo Top Left"
        },
        {
            "type": "video",
            "id": "video_desk",
            "label": "Video Desk"
        },
        {
            "type": "video",
            "id": "video_mob",
            "label": "Video Mob"
        }
    ],
    "presets": [
        {
            "name": "Hero Banner Video"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

.hero-banner-video {
    width: 100%;
}
.hero-banner-video__logo {
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 390px;
}
.hero-banner-video.boxed {
    max-width: 1620px;
    margin: 0 auto;
}
.hero-banner-video h4 {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 30px;
}
.hero-banner-video video {
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
    display: block;
}
.hero-banner-video__mob {
    display: none;
}

@media screen and (max-width: 991px) {
    .hero-banner-video__mob {
        display: block;
    }
    .hero-banner-video__desk {
        display: none;
    }
    .hero-banner-video h4 {
        font-size: 16px;
    }
    .hero-banner-video h4 {
        padding: 0 20px;
        margin-bottom: 10px;
    }
    .hero-banner-video.boxed h4 {
        padding: 0;
    }
    .hero-banner-video.boxed {
        padding: 0 20px;
    }
    .hero-banner-video video {
        width: 100%;
        height: 70vh;
    }
    .hero-banner-video__logo {
        top: 20%;
        left: 50%;
        max-width: 300px;
        transform: translateX(-50%);
    }
}

{% endstylesheet %}

