<div class="relative">
  <video src="https://cdn.shopify.com/videos/c/o/v/95d57af0388d4813bc8e451583bb42db.mp4" loop muted autoplay playsinline class="block md:hidden w-full"></video>
  <video src="https://cdn.shopify.com/videos/c/o/v/84b486accc474e1db679617665aac13e.mp4" loop muted autoplay playsinline class="h-0 md:h-auto w-full"></video>
  <a class="block p-5 rounded-full uppercase text-lg leading-3 tracking-tight font-semibold cursor-pointer text-center bg-white text-black hover:underline absolute bottom-12 left-0 right-0 mx-auto w-full max-w-xs" href="#spring-break-collection" >explore the collection</a>
</div>
<div class="px-5 py-10 md:px-32 md:py-24">
  <h2 class="font-bold text-5xl md:text-7xl lg:w-8/12">Conceptualized in 2010 by Corey Smith & friends.</h2>
  <div class="mt-12 grid gap-6 lg:flex lg:gap-28 lg:flex-row-reverse">
    <picture class="lg:w-[60%]">
      <source
        media="(min-width: 768px)"
        srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
      >
      <img
        class="block w-full"
        src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
        alt=""
      >
    </picture>
    <p class="leading-5 lg:w-[40%] lg:text-lg">
      <strong><i>Spring Break Snowboards</i></strong> was conceptualized in 2010 by artist/snowboarder Corey Smith and friends. Our vision was to create an art project in the form of a <hl>fictional snowboard company with zero creative boundaries</hl>. At the height of homogenized twin-tip snowboard design, Spring Break set out to deconstruct modern snowboarding and re-introduce the beauty of the sport through its surf-style roots. The focus was to find grace in simply turning a snowboard and exploring the mountain from an entirely different perspective.
    </p>
  </div>
  <img
    class="mx-auto w-16 lg:w-2/12 lg:max-w-28 lg:-mt-16"
    src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/sb-scroll.jpg?v=1719324914"
    alt=""
  >
</div>
<div class="relative md:flex md:h-max">
  <div class="absolute right-12 vertical-writing-rl text-sm font-semibold uppercase text-white top-8 block leading-none max-h-[120px] md:text-xl md:max-h-none md:right-[unset] md:left-[8%] md:top-20">
    {% comment %} KEVIN BACKSTROM {% endcomment %}
  </div>
  <picture class="md:w-[60%] md:shrink-0">
    <source
      media="(min-width: 768px)"
      srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/26EARLY_RELEASE_RESORT_TWIN_1294x870_c12799b9-f692-4efe-b454-118f1e14251c.png?v=1749654812"
    >
    <img
      class="block w-full md:h-full object-cover object-left"
      src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/26EARLY_RELEASE_RESORT_TWIN_1294x870_c12799b9-f692-4efe-b454-118f1e14251c.png?v=1749654812"
      alt="capita springbreak"
    >
  </picture>
  <div class="pb-16 bg-springbreak md:w-[40%] md:shrink-0 md:flex md:items-start md:flex-row-reverse  md:py-20 md:pr-[8%]">
    <div class="absolute left-12 bottom-16 flex items-end md:items-start text-right md:static md:gap-2">
      <span class="vertical-writing-rl text-sm md:text-left font-semibold uppercase text-black leading-none max-h-56 md:text-4xl md:max-h-none md:tracking-tight"
        >TRUE TWIN HYBRID CAMBER</span>
      <span class="vertical-writing-rl text-2xl md:text-left uppercase font-semibold text-black leading-none max-h-56 md:text-8xl md:max-h-none md:leading-[65px] md:whitespace-nowrap"
        >SB RESORT<br> TWIN</span>
    </div>
    <a class="group block border-2 border-white rounded-3xl overflow-hidden ml-auto -mt-36 isolate cursor-pointer w-1/2 mr-12 md:w-3/5 md:mt-0 md:mr-auto md:ml-0 md:max-w-80 md:-translate-x-1/2" href="/products/sb-resort-twin-2026">
      <div class="bg-gray-grid bg-s-gray-grid aspect-[176/326]">
        <img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[176/326] group-hover:scale-105"
          src="https://capitasnowboarding.com/cdn/shop/files/SB04_RESORT_TWIN_152.png?v=1738182234&width=1024"
          alt=""
        >
      </div>
      <span class="block text-center py-3 bg-white uppercase font-semibold md:text-xl md:tracking-tight group-hover:underline"
        >shop now</span
      >
    </a>
  </div>
</div>
<div class="py-10 md:py-24 js-timeline">
  <h2 class="px-5 text-center font-bold text-4xl md:text-6xl md:px-32">
    From a backyard art project,<br>
    to a small studio in Portland, OR,<br>
    to the CAPiTA MotherShip™ Factory in Austria.
  </h2>
  <div class="mt-20 px-5 overflow-hidden relative js-timeline-content md:px-32" style="height:400px">
    <div class="absolute bottom-0 z-10 w-full left-0 js-timeline-trigger-container">
      <div class="bg-gradient-to-t from-white h-52"></div>
      <div class="bg-white py-6">
        <button class="grid place-items-center gap-2 mx-auto cursor-pointer js-timeline-open-trigger">
          <svg class="w-12 block" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="83" height="83" rx="41.5" stroke="black" stroke-width="2"></rect>
            <path d="M59.8039 34L42.402 51.402L25 34" stroke="black" stroke-width="2"></path>
          </svg>
          <span class="font-bold">Read more</span>
        </button>
        <button
                            class="hidden place-items-center gap-2 mx-auto cursor-pointer js-timeline-close-trigger"
                        >
                            <svg
                                class="w-12 block -scale-100"
                                viewBox="0 0 85 85"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect
                                    x="1"
                                    y="1"
                                    width="83"
                                    height="83"
                                    rx="41.5"
                                    stroke="black"
                                    stroke-width="2"
                                ></rect>
                                <path
                                    d="M59.8039 34L42.402 51.402L25 34"
                                    stroke="black"
                                    stroke-width="2"
                                ></path></svg
                            ><span class="font-bold">Read less</span>
                        </button>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2010</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            <div class="grid gap-2 md:gap-4 lg:w-[40%]">
              <span class="text-xl font-bold md:text-3xl md:mt-1">Early years</span>
              <p class="leading-5 lg:text-lg">
                Corey Smith's return to Truckee, CA from Portland sparked his venture into handcrafting experimental wooden shapes under the moniker Spring Break, blending his love for snowboarding, art, and woodworking.
              </p>
            </div>
            <picture class="lg:w-[60%]">
              <source
                media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2010.png?v=1719927676"
              >
              <img
                class="block w-full"
                src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2010.png?v=1719927676"
                alt=""
              >
            </picture>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2011</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              The <hl>debut Spring Break film</hl> is released, featuring Corey and friends carving through the Tahoe Backcountry on a variety of oversized, handcrafted wooden shapes, showcasing a DIY snowboarding experience that harkens back to the pure and wild early days of snowboarding.
            </p>
          </div>
          <iframe class="w-full aspect-video h-auto" src="https://player.vimeo.com/video/23785497?h=984c29b75c&color=ffffff" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2012</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              Corey and his friends tested the original batch of <hl><strong>Slush Slasher</strong> prototypes</hl> at Mt. Hood, giving birth to a new shape that would soon influence and change snowboard design across our industry.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2014</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <span class="text-xl font-bold md:text-3xl md:mt-1">CAPiTA Production</span>
            <p class="leading-5 lg:text-lg">
              <strong><i>Spring Break</i></strong> launches its <hl>first full production collection in collaboration with CAPiTA</hl>. The Tree Hunter shape has won design awards from Transworld Snowboarding, Snowboarder Magazine, and Snowboard Mag as one of the greatest and best-performing experimental shapes in snowboarding, solidifying its place as an iconic series for years to come.
            </p>
          </div>
          <iframe
            class="w-full aspect-video h-auto"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/MU2fGGyHCF0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            {% comment %} <div class="grid gap-2 md:gap-4 lg:w-[40%]">

              <p class="leading-5 lg:text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae odit error quia molestiae consequuntur sit
                aperiam expedita autem dolores nemo voluptatibus odio ex, velit cum pariatur blanditiis. Aut, eum
                dolore.
              </p>
            </div> {% endcomment %}
            {% comment %} <picture class="lg:w-[60%]">
              <source
                media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
              >
              <img
                class="block w-full"
                src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
                alt=""
              >
            </picture> {% endcomment %}
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2015</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              Production commences at The MotherShip™, enabling <strong><i>Spring Break</i></strong> to lean into The MotherShip™’s engineering capabilities, as well as integrate advanced technologies, enhance production quality, and pioneer some of the most progressive and experimental shapes in snowboarding.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2016</span>
        </div>
        <div class="grid gap-6 md:gap-8">
              <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
                <div class="grid gap-2 md:gap-4 lg:w-[40%]">
                  <p class="leading-5 lg:text-lg">
                <strong><i>Spring Break</i></strong> introduces the first production model of the iconic <hl><strong><i>Slush Slasher</i></strong> series</hl>, the groundbreaking volume-shifted powder ripper that transformed how riders approached both deep snow and groomers.
              </p>
            </div>
            
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2016.png?v=1719927676"
            >
            <img
              class="block w-full"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2016.png?v=1719927676"
              alt=""
            >
          </picture>
          </div>
        </div>
      </div>
    </div>

    
    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2018</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            <div class="grid gap-2 md:gap-4 lg:w-[40%]">
              <p class="leading-5 lg:text-lg">
                    <hl><strong><i>Spring Break</i></strong> Ultralight Displacement Snowcraft series</hl> wins ISPO Product of the Year Award and Digital Trends Innovation Award for its introduction of the FUS3D™ core and sidewall technology.
              </p>
            </div>
          
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2ECD8BFE-E487-4EDD-A9E6-9FBAE25B7FD5.jpg?v=1723040985"
            >
            <img
              class="block w-full aspect-[965/680] object-contain object-left"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2ECD8BFE-E487-4EDD-A9E6-9FBAE25B7FD5.jpg?v=1723040985"
              alt=""
            >
          </picture>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2020</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">

            <p class="leading-5 lg:text-lg">
              Originally a sought after, experimental shape in the Ultralight collection, the <hl><strong><i>Powder Racer</i></strong></hl> is offered in a more accessible production package becoming the ultimate series for floating through Deep Paradise™ and carving around your local resort.
            </p>
          </div>
          <iframe
            class="w-full aspect-video h-auto"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/yuC-fh9AFLU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2021</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">

            <p class="leading-5 lg:text-lg">
              <strong><i>Spring Break</i></strong> launches the <hl><strong><i>Powder Twin</i></strong></hl>, an all-new series with a unique twin tip approach to riding deep powder.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-48 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2023</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
              <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
                <div class="grid gap-2 md:gap-4 lg:w-[40%]">
                  <p class="leading-5 lg:text-lg">
                The <strong><i>Spring Break <hl>Resort Twin</hl></i></strong> is revealed, offering an all-new option for fans seeking the distinctive vibe of Spring Break to navigate freestyle and park terrain at their local resort.
                    
              </p>
            </div>
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2023.png?v=1719927677"
            >
            <img
              class="block w-full"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2023.png?v=1719927677"
              alt=""
            >
          </picture>
        </div></div>
      </div>
    </div>


  </div>
</div>

{% assign sb_list = "sb-powder-twin-2025|sb-powder-racers-2025|sb-powder-glider-2025|sb-slush-slashers-2025|sb-resort-twin-2026" | split: "|" %}

<div class="px-4 py-10 bg-gray-grid bg-repeat bg-m-gray-grid grid gap-10 content-start md:px-32 md:py-24" id="spring-break-collection">
  <h2 class="font-bold text-5xl md:text-7xl ">The Spring Break Collection</h2>
  <div class="grid grid-cols-2 gap-y-10 gap-x-5 md:grid-cols-3 lg:grid-cols-3 lg:gap-y-20 lg:gap-x-16">

    {% for sb_board in sb_list %}
      <div class="block">
        <a href="{{ all_products[sb_board].url }}"
          ><img
            class="object-contain block w-full transition-transform duration-300 ease-out aspect-[200/327] hover:scale-105"
            src="{{ all_products[sb_board].featured_image | img_url: '1160x' }}"
            alt="{{ all_products[sb_board].title }}"></a
        ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden">
            {% for variant in all_products[sb_board].variants %}
              {% if forloop.index < 4 %}
                <a class="py-1 rounded-full border border-black block text-black text-center tracking-tight relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden {%- if variant.available == false %} pointer-events-none opacity-50{% endif %}">{%- if variant.available == false %} <span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>{% endif %}{{ variant.title }}</a>
              {% elsif forloop.index == forloop.length %}
                <a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline">+ {{ forloop.length | minus: 3 }} more</a>
              {% endif %}
            {% endfor %}
            
            </span
        ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start">
            
            {% for variant in all_products[sb_board].variants %}
              {% if forloop.index < 4 %}
                <a class="py-1 rounded-full border border-black block text-black text-center tracking-tight relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden {%- if variant.available == false %} pointer-events-none opacity-50{% endif %}">{%- if variant.available == false %} <span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>{% endif %}{{ variant.title }}</a>
              {% elsif forloop.index == forloop.length %}
                <a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline">+ {{ forloop.length | minus: 3 }} more</a>
              {% endif %}
            {% endfor %}
  
            </span
        ><span class="grid mt-2 md:mt-3"
          ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
            >{{ all_products[sb_board].metafields.snowboard_info.snowboard_listing_tag | default: 'categories'  }}</span
          ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
            >{{ all_products[sb_board].title }}</a
          ></span
        ><span class="text-sm text-black leading-none md:text-lg">{{ all_products[sb_board].price | money_with_currency }}</span>
      </div>
    {% endfor %}

    {% comment %} <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[200/327] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_2425_productimage_SBpowderracers_149_f6fa2233-7a6e-4c6b-a15a-8a5b3400cde6.png?v=1719927267"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[200/327] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_2425_productimage_SBpowderglider_154_e6ea2f4c-566a-4931-8c3b-6bedec382813.png?v=1719927267"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[200/327] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_2425_productimage_SBslushslashers_139_2ddca488-3a87-4bc4-9bc9-e6bdea84b6a7.png?v=1719927266"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[200/327] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/D_2425_productimage_SBresorttwin_152.png?v=1719927266"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div> {% endcomment %}

  </div>
</div>

{% assign acc_list = "tropical-hood-white|tropical-hood-black|reaper-long-sleeve-tee|skidoo-tee|bars-long-sleeve-tee|resort-tee" | split: "|" %}

<div class="px-4 py-10 bg-gray-grid bg-repeat bg-m-gray-grid grid gap-10 content-start md:px-32 md:py-24">
  <h2 class="font-bold text-5xl md:text-7xl ">Spring Break Accessories</h2>
  <div class="grid grid-cols-2 gap-y-10 gap-x-5 md:grid-cols-3 lg:gap-y-20 lg:gap-x-16">

    {% for sb_acc in acc_list %}
      <div class="block">
        <a href="{{ all_products[sb_acc].url }}"
          ><img
            class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
            src="{{ all_products[sb_acc].featured_image | img_url: '1160x' }}"
            alt="{{ all_products[sb_acc].title }}"></a
        ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
          >
            {% for variant in all_products[sb_acc].variants %}
              {% if forloop.index < 4 %}
                <a class="py-1 rounded-full border border-black block text-black text-center tracking-tight relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden {%- if variant.available == false %} pointer-events-none opacity-50{% endif %}"><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>{{ variant.title }}</a>
              {% elsif forloop.index == forloop.length %}
                <a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline">+ {{ forloop.length | minus: 3 }} more</a>
              {% endif %}
            {% endfor %}
            
            </span
        ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
          >
            
            {% for variant in all_products[sb_acc].variants %}
              {% if forloop.index < 4 %}
                <a class="py-1 rounded-full border border-black block text-black text-center tracking-tight relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden {%- if variant.available == false %} pointer-events-none opacity-50{% endif %}"><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>{{ variant.title }}</a>
              {% elsif forloop.index == forloop.length %}
                <a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline">+ {{ forloop.length | minus: 3 }} more</a>
              {% endif %}
            {% endfor %}
            
            </span
        ><span class="grid mt-2 md:mt-3"
          ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
            >{{ all_products[sb_acc].metafields.snowboard_info.snowboard_listing_tag | default: 'categories'  }}</span
          ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
            >{{ all_products[sb_acc].title }}</a
          ></span
        ><span class="text-sm text-black leading-none md:text-lg">{{ all_products[sb_acc].price | money_with_currency }}</span>
      </div>
    {% endfor %}

    {% comment %} <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/TROPICAL_Hood_Black_Front.png?v=1719927528"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/TROPICAL_Hood_White_Front.png?v=1719927528"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/REAPER_Long_Tee_Front.png?v=1719927527"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/SKIDOO_Tee_Front.png?v=1719927528"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/BARS_Long_Tee_Front.png?v=1719927527"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div>

    <div class="block">
      <a href=""
        ><img
          class="object-contain block w-full transition-transform duration-300 ease-out aspect-[130/150] hover:scale-105"
          src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/RESORT_Tee_Front.png?v=1719927527"
          alt=""></a
      ><span class="grid grid-cols-4 items-center content-start gap-1 md:hidden"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >+ 3 more</a
        ></span
      ><span class="hidden md:grid md:grid-cols-4 md:items-center md:gap-1 md:content-start"
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight pointer-events-none opacity-50 relative text-[11px] leading-[.7] md:text-sm md:leading-none overflow-hidden"
          ><span class="absolute top-1/2 -translate-y-1/2 h-[1px] bg-black w-full left-0 rotate-25"></span>156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-black block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:bg-white hover:text-black hover:underline"
          >156</a
        ><a class="py-1 rounded-full border border-transparent block text-black text-center tracking-tight cursor-pointer text-[11px] leading-[.7] md:text-sm md:leading-none hover:underline"
          >+ 3 more</a
        ></span
      ><span class="grid mt-2 md:mt-3"
        ><span class="text-sm text-black font-semibold uppercase leading-none tracking-tight"
          >MEN'S DIRECTIONAL TRADITIONAL CAMBER</span
        ><a class="text-xl text-black font-bold uppercase leading-none cursor-pointer md:text-3xl hover:underline"
          >aeronaut</a
        ></span
      ><span class="text-sm text-black leading-none md:text-lg">€649,00</span>
    </div> {% endcomment %}

  </div>

  
  </div>
  <div class="text-boxes__foot mt-12 mb-6">
    <div class="text-boxes__foot__ctas">
      
        <a class="o-btn is-big black text-boxes__foot__btn js-modal-youtube px-6 !normal-case">Watch: Clean Energy Production
          <svg class="icon-arrow-play" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.41346 0C3.77399 0 0 3.77399 0 8.41346C0 13.0529 3.77399 16.8269 8.41346 16.8269C13.0529 16.8269 16.8269 13.0526 16.8269 8.41346C16.8269 3.77432 13.0529 0 8.41346 0ZM8.41346 15.3058C4.61317 15.3058 1.52117 12.2137 1.52117 8.41313C1.52117 4.61284 4.6132 1.52117 8.41346 1.52117C12.2137 1.52117 15.3058 4.61307 15.3058 8.41346C15.3058 12.2139 12.2137 15.3058 8.41346 15.3058Z" fill="white"></path>
      <path d="M12.4349 7.56565L7.04042 4.45086C6.87471 4.35491 6.69245 4.30469 6.51389 4.30469C5.97619 4.30469 5.57031 4.73243 5.57031 5.2998V11.5288C5.57031 12.0962 5.97622 12.5242 6.51389 12.5242C6.69244 12.5242 6.87445 12.4736 7.04055 12.3776L12.4347 9.26352C12.7579 9.07688 12.951 8.75949 12.951 8.41448C12.9512 8.0696 12.758 7.75231 12.4349 7.5658L12.4349 7.56565Z" fill="white"></path>
  </svg>
      </a>
      
      
        <a class="o-btn is-big black text-boxes__foot__btn px-6 !normal-case" href="/pages/technology">How does technology help?
          </a>
      
      
    </div>
  </div>

  <div class="modal-youtube hide">
    <div class="modal-youtube__close js-modal-youtube-close"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</div>
    <iframe width="90%" height="80%" src="https://www.youtube.com/embed/HN33OvYL8N4?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
  </div>

<style>
  hl {
    background: linear-gradient(0deg,#fcef2100,#fcef2100 10%,#fcef21 10%,#fcef21 80%,#fcef2100 80%);
  }
  .text-boxes__foot {
  margin: 60px 0;
}
  .text-boxes__foot__btn {
    width: 740px;
    padding-block: 21px;
    font-size: 18px;
  }
  .c-step__media .only-mob {
    display: none;
  }
  .text-boxes__foot__ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-boxes__foot__ctas a {
    margin-bottom: 20px;
  }
  a.btn.btn-secondary.black.text-boxes__foot__btn {
    width: 100%;
    max-width: 740px;
    padding: 0 20px;
  }
  .modal-youtube {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0000007d;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 999;
  }
  .modal-youtube.hide {
    display: none;
  }
  .modal-youtube__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .modal-youtube__close svg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid;
    background: #ffffffd1;
    cursor: pointer;
  }
  .js-modal-youtube {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .c-step__media .only-mob {
      display: block;
    }
    .c-step__media .only-desk {
      display: none;
    }
    .text-boxes__foot__ctas {
      padding: 0 20px;
    }
    .modal-youtube iframe {
      height: 30% !important;
    }
    .text-boxes__foot__btn {
      width: 100%;
    }
  }
</style>
  <script>

    (function () {
      let selectors = {
        videoModalYT: '.modal-youtube',
        iframeVideoModalYT: '.modal-youtube iframe',
        ctaTextVideoCtaModal: '.js-modal-youtube',
        videoModalYTClose: '.js-modal-youtube-close',
      };
  
      let videoModalYT = document.querySelector(selectors.videoModalYT);
      let iframeVideoModalYT = document.querySelector(selectors.iframeVideoModalYT);
      let ctaTextVideoCtaModal = document.querySelector(selectors.ctaTextVideoCtaModal);
      let videoModalYTClose = document.querySelector(selectors.videoModalYTClose);
  
      if (videoModalYT) {
        let iframeVideoModalYT__src = iframeVideoModalYT.getAttribute('src');
  
        ctaTextVideoCtaModal.addEventListener('click', function () {
          videoModalYT.classList.remove('hide');
          iframeVideoModalYT.setAttribute('src', iframeVideoModalYT__src + '?autoplay=1');
        });
        videoModalYTClose.addEventListener('click', function () {
          videoModalYT.classList.add('hide');
          iframeVideoModalYT.setAttribute('src', iframeVideoModalYT__src + '?autoplay=0');
        });
        videoModalYT.addEventListener('click', function (e) {
          if (!iframeVideoModalYT.contains(e.target)) {
            videoModalYT.classList.add('hide');
            iframeVideoModalYT.setAttribute('src', iframeVideoModalYT__src + '?autoplay=0');
          }
        });
      }
    })();

  </script>
<script src="{{ 'springbreak.js' | asset_url }}"></script>
